<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Berkas</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br><br>
          <div class="section-title">
            <h2 class="text-white">Detail Berkas</h2>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container" data-aos="zoom-in">
        <br>
        {% if user.id == detail_berkas_jurnal.pengusul.users.id or user.is_superuser or user.id == 22 %}
          <a class="float-right btn btn-warning btn-sm" href="{% url 'penilaian:edit_berkas_buku' detail_berkas_buku.pk%}" data-aos="zoom-in">Edit</a>
        {% endif %}
        <div class="scrollmenu">
          <table class="table table-hover">
              <tbody>
                <tr>
                  <td><h4>Judul</h4></td>
                  <td><h5>: {{detail_berkas_buku.judul}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Jumlah Penulis</h4></td>
                  <td><h5>: {{detail_berkas_buku.jmlh_penulis}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Kategori Publikasi</h4></td>
                  <td><h5>: {{detail_berkas_buku.kategori_publikasi}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Nomor ISBN</h4></td>
                  {% if detail_berkas_buku.nomor_isbn == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_buku.nomor_isbn}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Edisi</h4></td>
                  {% if detail_berkas_buku.edisi == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_buku.edisi}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Volume</h4></td>
                  {% if detail_berkas_buku.volume == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_buku.volume}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Tahun Terbit</h4></td>
                  {% if detail_berkas_buku.tahun_terbit == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_buku.tahun_terbit}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Penerbit</h4></td>
                  {% if detail_berkas_buku.penerbit == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_buku.penerbit}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Jumlah Halaman</h4></td>
                  {% if detail_berkas_buku.jumlah_halaman == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_buku.jumlah_halaman}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Penulis Utama</h4></td>
                  {% if detail_berkas_buku.penulis_utama != None %}
                      <td><h5>: {{detail_berkas_buku.penulis_utama}}</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_buku.penulis_utama_selain}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Penulis Lain</h4></td>
                  <td><h5>: 
                    {% for penulis in detail_berkas_buku.penulis_lain.all %}
                      {{penulis}},
                    {% endfor %}
                    {% for penulis_lain in detail_berkas_buku.penulis_lain_selain.all %}
                      {{penulis_lain}},
                    {% endfor %}
                  </h5></td>
                </tr>
                <tr>
                  <td><h4>Berkas Buku</h4></td>
                  <td><a href="{{detail_berkas_buku.upload_buku.url}}" class="btn btn-primary" target="_blank">Lihat</a></td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
          


    {% include 'snippets/script.html' %}
</body>
</html>