<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Berkas</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br><br>
          <div class="section-title">
            <h2 class="text-white">Detail Berkas</h2>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container" data-aos="zoom-in">
      <br>
      {% if user.id == detail_berkas_jurnal.pengusul.users.id or user.is_superuser or user.id == 22 %}
        <a class="float-right btn btn-warning btn-sm" href="{% url 'penilaian:edit_berkas_jurnal' detail_berkas_jurnal.pk%}" data-aos="zoom-in">Edit</a>
      {% endif %}
        <div class="scrollmenu">
          <table class="table table-hover">
              <tbody>
                <tr>
                  <td><h4>Waktu Upload</h4></td>
                  <td><h5>: {{detail_berkas_jurnal.uploaded}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Judul Artikel</h4></td>
                  <td><h5>: {{detail_berkas_jurnal.judul_artikel}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Jumlah Penulis</h4></td>
                  <td><h5>: {{detail_berkas_jurnal.jmlh_penulis}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Nama Jurnal</h4></td>
                  <td><h5>: {{detail_berkas_jurnal.nama_jurnal}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Kategori Publikasi</h4></td>
                  <td><h5>: {{detail_berkas_jurnal.kategori_publikasi}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Nomor ISSN</h4></td>
                  {% if detail_berkas_jurnal.nomor_issn == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_jurnal.nomor_issn}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Vol/No/Bulan/Tahun</h4></td>
                  {% if detail_berkas_jurnal.vol_no_bln_thn == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_jurnal.vol_no_bln_thn}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Penerbit</h4></td>
                  {% if detail_berkas_jurnal.penerbit == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_jurnal.penerbit}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>DOI Artikel</h4></td>
                  {% if detail_berkas_jurnal.doi_artikel == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_jurnal.doi_artikel}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>URL Jurnal</h4></td>
                  {% if detail_berkas_jurnal.url_jurnal == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_jurnal.url_jurnal}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Indeks Jurnal</h4></td>
                  {% if detail_berkas_jurnal.indeks_jurnal == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_jurnal.indeks_jurnal}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Tingkat Jurnal</h4></td>
                  {% if detail_berkas_jurnal.tingkat_jurnal == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_jurnal.tingkat_jurnal}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Penulis Korespondensi</h4></td>
                  {% if detail_berkas_jurnal.corresponding_author != None %}
                    <td><h5>: {{detail_berkas_jurnal.corresponding_author}}</h5></td>
                  {% elif detail_berkas_jurnal.corresponding_author_selain != None %}
                    <td><h5>: {{detail_berkas_jurnal.corresponding_author_selain}}</h5></td>
                  {% elif detail_berkas_jurnal.penulis_utama != None %}
                    <td><h5>: {{detail_berkas_jurnal.penulis_utama}}</h5></td>
                  {% else %}
                    <td><h5>: {{detail_berkas_jurnal.penulis_utama_selain}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Penulis Utama</h4></td>
                  {% if detail_berkas_jurnal.penulis_utama != None %}
                    <td><h5>: {{detail_berkas_jurnal.penulis_utama}}</h5></td>
                  {% else %}
                    <td><h5>: {{detail_berkas_jurnal.penulis_utama_selain}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Penulis Lain</h4></td>
                  <td><h5>:
                    {% for penulis in detail_berkas_jurnal.penulis_lain.all %}
                      {{penulis}} <br>
                    {% endfor %}
                    {% for penulis_lain in detail_berkas_jurnal.penulis_selain.all %}
                      {{penulis_lain}} <br>
                    {% endfor %}
                  </h5></td>
                </tr>
                <tr>
                  <td><h4>Berkas Jurnal</h4></td>
                  <td><a href="{{detail_berkas_jurnal.upload_jurnal.url}}" class="btn btn-primary" target="_blank">Lihat</a></td>
                </tr>
                <tr>
                  <td><h4>Berkas Cover</h4></td>
                  <td>
                      {% if berkas.upload_cover %}
                          <a href="{{detail_berkas_jurnal.upload_cover.url}}" class="btn btn-primary" target="_blank">Lihat</a>
                          {% else %}
                          <button type="button" class="btn btn-warning" disabled>Belum Ada</button>
                      {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
          


    {% include 'snippets/script.html' %}
</body>
</html>