<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Berkas</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br><br>
          <div class="section-title">
            <h2 class="text-white">Detail Berkas</h2>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container" data-aos="zoom-in">
        <br>
        <table class="table table-hover d-flex justify-content-center">
            <tbody>
              <tr>
                <td><h3>Judul</h3></td>
                <td><h4>: {{detail_berkas_haki.judul}}</h4></td>
              </tr>
              <tr>
                <td><h3>Jumlah Penulis</h3></td>
                <td><h4>: {{detail_berkas_jurnal.jmlh_penulis}}</h4></td>
              </tr>
              <tr>
                <td><h3>Kategori Publikasi</h3></td>
                <td><h4>: {{detail_berkas_haki.kategori_publikasi}}</h4></td>
              </tr>
              <tr>
                <td><h3>Pemegang Berkas Utama</h3></td>
                <td><h4>: {{detail_berkas_haki.pemegang_berkas_utama.first_name}}</h4></td>
              </tr>
              <tr>
                <td><h3>Pemegang Berkas Lain</h3></td>
                <td><h4>: 
                  {% for penulis in detail_berkas_jurnal.penulis_lain.all %}
                      {{penulis.first_name}} <br>
                  {% endfor %}
                </h4></td>
              </tr>
              <tr>
                <td><h3>Berkas HaKI</h3></td>
                <td><a href="{{detail_berkas_haki.upload_berkas.url}}" class="btn btn-primary" target="_blank">Lihat</a></td>
              </tr>
            </tbody>
          </table>
    </div>
          


    {% include 'snippets/script.html' %}
</body>
</html>