<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Berkas</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br><br>
          <div class="section-title">
            <h2 class="text-white">Detail Berkas</h2>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container" data-aos="zoom-in">
        <br>
        {% if user.id == detail_berkas_jurnal.pengusul.users.id or user.is_superuser or user.id == 22 %}
          <a class="float-right btn btn-warning btn-sm" href="{% url 'penilaian:edit_berkas_haki' detail_berkas_haki.pk%}" data-aos="zoom-in">Edit</a>
        {% endif %}
        <div class="scrollmenu">
          <table class="table table-hover">
              <tbody>
                <tr>
                  <td><h4>Judul</h4></td>
                  <td><h5>: {{detail_berkas_haki.judul}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Jumlah Penulis</h4></td>
                  <td><h5>: {{detail_berkas_haki.jmlh_penulis}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Kategori Publikasi</h4></td>
                  <td><h5>: {{detail_berkas_haki.kategori_publikasi}}</h5></td>
                </tr>
                <tr>
                  <td><h4>Jenis HaKI</h4></td>
                  {% if detail_berkas_haki.jenis_haki == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_haki.jenis_haki}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Nomor Paten</h4></td>
                  {% if detail_berkas_haki.nomor_paten == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_haki.nomor_paten}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Tanggal</h4></td>
                  {% if detail_berkas_haki.tanggal == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_haki.tanggal}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Penerbit</h4></td>
                  {% if detail_berkas_haki.penerbit == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_haki.penerbit}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Status Paten</h4></td>
                  {% if detail_berkas_haki.status_paten == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_haki.status_paten}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Alamat Repository</h4></td>
                  {% if detail_berkas_haki.url_repository == None %}
                      <td><h5>: -</h5></td>
                  {% else %}
                      <td><h5>: {{detail_berkas_haki.url_repository}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Pemegang Berkas Utama</h4></td>
                  {% if detail_berkas_haki.pemegang_berkas_utama != None %}
                      <td><h5>: {{detail_berkas_haki.pemegang_berkas_utama}}</h5></td>
                  {% else %}
                      <td><h5>:{{detail_berkas_haki.pemegang_berkas_utama_selain}}</h5></td>
                  {% endif %}
                </tr>
                <tr>
                  <td><h4>Pemegang Berkas Lain</h4></td>
                  <td><h5>: 
                    {% for penulis in detail_berkas_haki.penulis_lain.all %}
                      {{penulis}},
                    {% endfor %}
                    {% for penulis_lain in detail_berkas_haki.pemegang_berkas_selain.all %}
                      {{penulis_lain}},
                    {% endfor %}
                  </h5></td>
                </tr>
                <tr>
                  <td><h4>Berkas Haki</h4></td>
                  <td><a href="{{detail_berkas_haki.upload_berkas.url}}" class="btn btn-primary" target="_blank">Lihat</a></td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>
          


    {% include 'snippets/script.html' %}
</body>
</html>