<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Penilaian Berkas Buku</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2 class="text-white">Edit Penilaian Berkas Buku</h2>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container">
        <br>
        <a class="float-right btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#KetentuanBuku" data-aos="zoom-in">Ketentuan</a>
        <br>
        <form method="POST" enctype="multipart/form-data" data-aos="zoom-in">
            <div class="form-group">
                {% csrf_token %}
                <br>
                <p><label for="id_buku">Buku:</label> {{form.buku}}</p>
                <p><label for="id_unsur_isi">Nilai Kelengkapan dan Kesesuaian Unsur Isi Buku:</label> {{form.unsur_isi}}</p>
                <p><label for="id_cmnt_unsur_isi">Komentar Kelengkapan dan Kesesuaian Unsur Isi Buku:</label><a class="float-right btn btn-outline-success btn-sm py-0" style="font-size: 0.8em;" data-toggle="modal" data-target="#KomenUnsurIsiBuku">Panduan Komentar Unsur Isi</a> {{form.cmnt_unsur_isi}}</p>
                <p><label for="id_pembahasan">Nilai Ruang Lingkup dan Kedalaman Pembahasan:</label> {{form.pembahasan}}</p>
                <p><label for="id_cmnt_pembahasan">Komentar Ruang Lingkup dan Kedalaman Pembahasan:</label><a class="float-right btn btn-outline-success btn-sm py-0" style="font-size: 0.8em;" data-toggle="modal" data-target="#KomenRuangLingkupBuku">Panduan Komentar Ruang Lingkup</a> {{form.cmnt_pembahasan}}</p>
                <p><label for="id_informasi">Nilai Kecukupan dan Kemutahiran Data/Informasi dan Metodologi:</label> {{form.informasi}}</p>
                <p><label for="id_cmnt_informasi">Komentar Kecukupan dan Kemutahiran Data/Informasi dan Metodologi:</label><a class="float-right btn btn-outline-success btn-sm py-0" style="font-size: 0.8em;" data-toggle="modal" data-target="#KomenInformasiBuku">Panduan Komentar Kemutahiran Data/Informasi dan Metodologi</a> {{form.cmnt_informasi}}</p>
                <p><label for="id_kualitas_penerbit">Nilai Kelengkapan Unsur dan Kualitas Penerbit:</label> {{form.kualitas_penerbit}}</p>
                <p><label for="id_cmnt_kualitas_penerbit">Komentar Kelengkapan Unsur dan Kualitas Penerbit:</label><a class="float-right btn btn-outline-success btn-sm py-0" style="font-size: 0.8em;" data-toggle="modal" data-target="#KomenPenerbitBuku">Panduan Komentar Unsur dan Kualitas Penerbit</a> {{form.cmnt_kualitas_penerbit}}</p>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    {% include 'snippets/modals.html' %}
    {% include 'snippets/script.html' %}
</body>
</html>