<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubah Data User</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio login">
        <br>
        <div class="section-title" data-aos="zoom-in">
            <h2 class="text-white">Ubah Data User</h2>
        </div>
        <div class="container d-flex justify-content-center" data-aos="zoom-in">
            <div class="card">
                <article class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Update  </button>
                        </div> 
                    </form>
                </article>
            </div>
        </div>    
    </section>

    {% include 'snippets/script.html' %}
</body>
</html>