<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Berkas</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2 class="text-white">Edit Berkas</h2>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container">
        <form method="POST" enctype="multipart/form-data" data-aos="zoom-in">
            {% csrf_token %}
            <br>
            <p><label for="id_judul">Judul Buku:</label> {{form.judul}}</p>
            <p><label for="id_jmlh_penulis">Jumlah Penulis:</label> {{form.jmlh_penulis}}</p>
            <p><label for="id_nomor_isbn">Nomor ISBN:</label> {{form.nomor_isbn}}</p>
            <p><label for="id_edisi">Edisi:</label> {{form.edisi}}</p>
            <p><label for="id_volume">Volume:</label> {{form.volume}}</p>
            <p><label for="id_tahun_terbit">Tahun Terbit:</label> {{form.tahun_terbit}}</p>
            <p><label for="id_penerbit">Penerbit:</label> {{form.penerbit}}</p>
            <p><label for="id_jumlah_halaman">Jumlah Halaman:</label> {{form.jumlah_halaman}}</p>
            <p><label for="id_kategori_publikasi">Kategori Publikasi:</label> {{form.kategori_publikasi}}</p>
            <p><label for="id_upload_buku">Upload Buku:</label> {{form.upload_buku}} 
            {% if upload.upload_buku != '' %}
                Telah diupload: <a href="{{upload.upload_buku.url}}" target="_blank">{{upload.upload_buku.name}}</a>
            {% endif %}</p>
            <p><label for="id_penulis_utama">Penulis Utama:</label> {{form.penulis_utama}}</p>
            <p><label for="id_penulis_utama_selain">Penulis Utama Selain Dosen:</label> {{form.penulis_utama_selain}}</p>
            <p><label for="id_penulis_lain">Penulis lain:</label> {{form.penulis_lain}}</p>
            <p><label for="id_penulis_lain_selain">Penulis Lain Selain Dosen:</label> {{form.penulis_lain_selain}}</p>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
            <br>
            <br>
        </form>
    </div>

    {% include 'snippets/script.html' %}
</body>
</html>