<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penilaian Tidak Ditemukan</title>
    <link href="/assets/css/errmessg.css" rel="stylesheet" type="text/css">
    <link href="/assets/img/logo-unpad1.png" rel="icon">
</head>
<body>
  <div class="face">
    <div class="band">
      <div class="red"></div>
      <div class="white"></div>
      <div class="blue"></div>
    </div>
    <div class="eyes"></div>
    <div class="dimples"></div>
    <div class="mouth"></div>
  </div>
  
  <h1>Oops! Berkas Penilaian Belum Ada Ya!</h1>
  <h2>Silakan cek email lagi untuk melihat apakah berkas sudah dinilai atau belum.</h2>
  <div class="btn" onclick="location.href='{% url "home" %}'">Kembali ke Laman Awal</div>
</body>
</html>