<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @page {
            size: 7in 9.25in;
            margin: 27mm 16mm 27mm 16mm;
        }
            /* br{
                line-height: 1px;
            } */
            .judul {
                font-family: "Times New Roman", Times, serif;
                font-size: 10pt;
                font-weight: bolder;
            }
            .paragraf {
                font-family: "Times New Roman", Times, serif;
                font-size: 10pt;
            }
            tr {
                margin-bottom: 50;
            }
            .bordernilai {
                border-collapse: collapse;
                border: 1px solid black;
                margin-top: 36;
                padding-top: 5px;
                padding-left: 2px;
            }
    </style>
    <title>Lembar</title>
</head>
<body>
    {% if usrlogin.id == rekap_haki.berkas.pemegang_berkas_utama.users.id and rekap_haki.berkas.pemegang_berkas_utama != None %}
        <table style="width: 100%;" class="judul">
            <tr>
                <th style="text-align: center;">LEMBAR</th>
            </tr>
            <tr>
                <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
            </tr>
            <tr>
                <th style="text-align: center;">KARYA ILMIAH : HAKI</th>
            </tr>
        </table>
        <div class="paragraf">
            <table style="margin-bottom: 36px; margin-top: 36px; width: 100%;">
                <tr>
                    <td style="width: 20%;">Judul Karya Ilmiah</td>
                    <td style="width: 3%;">:</td>
                    <td style="width: 77%">{{rekap_haki.berkas.judul}}</td>
                </tr>
                <tr>
                    <td>Jumlah Penulis</td>
                    <td>:</td>
                    <td>{{rekap_haki.berkas.jmlh_penulis}}</td>
                </tr>
                <tr>
                    <td>Nama Pengusul</td>
                    <td>:</td>
                    <td>{{rekap_haki.berkas.pemegang_berkas_utama}}</td>
                </tr><tr>
                    <td>Penulis</td>
                    <td>:</td>
                    <td>
                    {% if rekap_haki.berkas.pemegang_berkas_utama != None %}
                        {{rekap_haki.berkas.pemegang_berkas_utama}}
                    {% else %}
                        {{rekap_haki.berkas.pemegang_berkas_utama_selain}}
                    {% endif %},
                    {% for penulis in rekap_haki.berkas.penulis_lain.all %}
                        {{penulis}}
                    {% endfor %}
                    {% for penulis_lain in rekap_haki.berkas.pemegang_berkas_selain.all %}
                        {{penulis_lain}}
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Status Pengusul</td>
                    <td>:</td>
                    <td>Pemegang Berkas Utama</td>
                </tr>
            </table>
            <table style="margin-bottom: 36px; width: 100%;">
                <tr>
                    <td style="width: 24%;">Identitas Jurnal Ilmiah</td>
                    <td style="width: 37%;">a. Jenis HaKI</td>
                    <td style="width: 2%;">:</td>
                    <td style="width: 37%;">{{rekap_haki.berkas.jenis_haki}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>b. Nomor Paten</td>
                    <td>:</td>
                    <td>{{rekap_haki.berkas.nomor_paten}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>c. Tanggal</td>
                    <td>:</td>
                    <td>{{rekap_haki.berkas.tanggal}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>d. Penerbit</td>
                    <td>:</td>
                    <td>{{rekap_haki.berkas.penerbit}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>e. Status Paten</td>
                    <td>:</td>
                    <td>{{rekap_haki.berkas.status_paten}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>f. Alamat Repository</td>
                    <td>:</td>
                    <td>{{rekap_haki.berkas.url_repository}}</td>
                </tr>
				<tr>
					<td></td>
					<td>g. Kategori Publikasi</td>
					<td>:</td>
					<td>{{rekap_haki.berkas.kategori_publikasi}}</td>
				</tr>
            </table>
            <p>Hasil Penilaian Peer Review :</p>
            <table style="border-collapse: collapse; width: 70%; margin-bottom: 36px;">
                <tr class="bordernilai">
                    <th style="width: 50%;" class="bordernilai">Komponen Yang Dinilai</th>
                    <th style="width: 20%;" class="bordernilai">Nilai Akhir</th>
                </tr>
                <tr class="bordernilai">
                    <td class="bordernilai">Kelengkapan dan Kesesuaian unsur isi prosiding</td>
                    <th>{{rekap_haki.unsur_isi}}</th>
                </tr>
                <tr class="bordernilai">
                    <td class="bordernilai">Ruang lingkup dan kedalaman pembahasan</td>
                    <th>{{rekap_haki.pembahasan}}</th>
                </tr>
                <tr class="bordernilai">
                    <td class="bordernilai">Kecukupan dan kemutakhiran data/informasi dan metodologi</td>
                    <th>{{rekap_haki.informasi}}</th>
                </tr>
                <tr class="bordernilai">
                    <td class="bordernilai">Kelengkapan unsur dan kualitas penerbit</td>
                    <th>{{rekap_haki.kualitas_penerbit}}</th>
                </tr>
                <tr class="bordernilai">
                    <th class="bordernilai">Total</th>
                    <th>{{rekap_haki.total}}</th>
                </tr>
                <tr class="bordernilai">
                    <th class="bordernilai">Nilai yang didapatkan pengusul</th>
                    <th>{{rekap_haki.nilai_pu}}</th>
                </tr>
            </table>
            <p>Komentar Review :</p>
            <table style="width: 100%; margin-bottom: 36px; border-collapse: collapse;">
                <tr class="bordernilai">
                    <th style="width: 50%" class="bordernilai">Komponen Yang Dinilai</th>
                    <th style="width: 50%">Komentar</th>
                </tr>
                <tr class="bordernilai">
                    <td style="text-align: center" class="bordernilai">Kelengkapan dan Kesesuaian Buku</td>
                    <td>
                        {{rekap_haki.cmnt_unsur_isi}}
                    </td>
                </tr>
                <tr class="bordernilai">
                    <td style="text-align: center" class="bordernilai">Ruang lingkup dan kedalaman pembahasan</td>
                    <td>
                        {{rekap_haki.cmnt_pembahasan}}
                    </td>
                </tr>
                <tr class="bordernilai">
                    <td style="text-align: center" class="bordernilai">
                        Kecukupan dan kemutahiran data/informasi dan metodologi
                    </td>
                    <td>
                        {{rekap_haki.cmnt_informasi}}
                    </td>
                </tr>
                <tr class="bordernilai">
                    <td style="text-align: center" class="bordernilai">Kelengkapan unsur dan kualitas penerbit</td>
                    <td>
                        {{rekap_haki.cmnt_kualitas_penerbit}}
                    </td>
                </tr>
            </table>
            <table style="margin-bottom: 3cm;">
                <tr>
                    <td>Jatinangor, {{rekap_haki.created|date}}</td>
                </tr>
                <tr>
                    <td>Reviewer,</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th style="text-align: left">{{rekap_haki.berkas.reviewer}}</th>
                </tr>
                <tr>
                    <td>NIP. {{rekap_haki.berkas.reviewer.nip}}</td>
                </tr>
            </table>
            <small class="sp">Unit Kerja: {{rekap_haki.berkas.reviewer.unit_kerja}}</small><br>
            <small class="sp">Bidang Ilmu: {{rekap_haki.berkas.reviewer.bidang_ilmu}}</small><br>
            <small class="sp">Jabatan/Pangkat: {{rekap_haki.berkas.reviewer.jabatan_pangkat}}</small>
        </div>
        {% elif rekap_haki.berkas.penulis_lain.all.exist %}
            {% for penulis in rekap_haki.berkas.penulis_lain.all %}
                {% if usrlogin.id == penulis.id %}
                    <table style="width: 100%;" class="judul">
                        <tr>
                            <th style="text-align: center;">LEMBAR</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;">KARYA ILMIAH : HAKI</th>
                        </tr>
                    </table>
                    <div class="paragraf">
                        <table style="margin-bottom: 36px; margin-top: 36px; width: 100%;">
                            <tr>
                                <td style="width: 20%;">Judul Karya Ilmiah</td>
                                <td style="width: 3%;">:</td>
                                <td style="width: 77%">{{rekap_haki.berkas.judul}}</td>
                            </tr>
                            <tr>
                                <td>Jumlah Penulis</td>
                                <td>:</td>
                                <td>{{rekap_haki.berkas.jmlh_penulis}}</td>
                            </tr>
                            <tr>
                                <td>Nama Pengusul</td>
                                <td>:</td>
                                <td>{{penulis}}</td>
                            </tr><tr>
                                <td>Penulis</td>
                                <td>:</td>
                                <td>
                                {% if rekap_haki.berkas.penulis_utama != None %}
                                    {{rekap_haki.berkas.penulis_utama}}
                                {% else %}
                                    {{rekap_haki.berkas.penulis_utama_selain}}
                                {% endif %},
                                {% for penulis in rekap_haki.berkas.penulis_lain.all %}
                                    {{penulis}},
                                {% endfor %}
                                {% for penulis_lain in rekap_haki.berkas.penulis_lain_selain.all %}
                                    {{penulis_lain}}
                                {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Status Pengusul</td>
                                <td>:</td>
                                <td>Pemegang Berkas Lain</td>
                            </tr>
                        </table>
                        <table style="margin-bottom: 36px; width: 100%;">
                            <tr>
                                <td style="width: 24%;">Identitas Jurnal Ilmiah</td>
                                <td style="width: 37%;">a. Jenis HaKI</td>
                                <td style="width: 2%;">:</td>
                                <td style="width: 37%;">{{rekap_haki.berkas.jenis_haki}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>b. Nomor Paten</td>
                                <td>:</td>
                                <td>{{rekap_haki.berkas.nomor_paten}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>c. Tanggal</td>
                                <td>:</td>
                                <td>{{rekap_haki.berkas.tanggal}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>d. Penerbit</td>
                                <td>:</td>
                                <td>{{rekap_haki.berkas.penerbit}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>e. Status Paten</td>
                                <td>:</td>
                                <td>{{rekap_haki.berkas.status_paten}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>f. Alamat Repository</td>
                                <td>:</td>
                                <td>{{rekap_haki.berkas.url_repository}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>g. Kategori Publikasi</td>
                                <td>:</td>
                                <td>{{rekap_haki.berkas.kategori_publikasi}}</td>
                            </tr>
                        </table>
                        <p>Hasil Penilaian Peer Review :</p>
                        <table style="border-collapse: collapse; width: 70%; margin-bottom: 36px;">
                            <tr class="bordernilai">
                                <th style="width: 50%;" class="bordernilai">Komponen Yang Dinilai</th>
                                <th style="width: 20%;" class="bordernilai">Nilai Akhir</th>
                            </tr>
                            <tr class="bordernilai">
                                <td class="bordernilai">Kelengkapan dan Kesesuaian unsur isi prosiding</td>
                                <th>{{rekap_haki.unsur_isi}}</th>
                            </tr>
                            <tr class="bordernilai">
                                <td class="bordernilai">Ruang lingkup dan kedalaman pembahasan</td>
                                <th>{{rekap_haki.pembahasan}}</th>
                            </tr>
                            <tr class="bordernilai">
                                <td class="bordernilai">Kecukupan dan kemutakhiran data/informasi dan metodologi</td>
                                <th>{{rekap_haki.informasi}}</th>
                            </tr>
                            <tr class="bordernilai">
                                <td class="bordernilai">Kelengkapan unsur dan kualitas penerbit</td>
                                <th>{{rekap_haki.kualitas_penerbit}}</th>
                            </tr>
                            <tr class="bordernilai">
                                <th class="bordernilai">Total</th>
                                <th>{{rekap_haki.total}}</th>
                            </tr>
                            <tr class="bordernilai">
                                <th class="bordernilai">Nilai yang didapatkan pengusul</th>
                                <th>{{rekap_haki.nilai_pu}}</th>
                            </tr>
                        </table>
                        <p>Komentar Review :</p>
                        <table style="width: 100%; margin-bottom: 36px; border-collapse: collapse;">
                            <tr class="bordernilai">
                                <th style="width: 50%" class="bordernilai">Komponen Yang Dinilai</th>
                                <th style="width: 50%">Komentar</th>
                            </tr>
                            <tr class="bordernilai">
                                <td style="text-align: center" class="bordernilai">Kelengkapan dan Kesesuaian Buku</td>
                                <td>
                                    {{rekap_haki.cmnt_unsur_isi}}
                                </td>
                            </tr>
                            <tr class="bordernilai">
                                <td style="text-align: center" class="bordernilai">Ruang lingkup dan kedalaman pembahasan</td>
                                <td>
                                    {{rekap_haki.cmnt_pembahasan}}
                                </td>
                            </tr>
                            <tr class="bordernilai">
                                <td style="text-align: center" class="bordernilai">
                                    Kecukupan dan kemutahiran data/informasi dan metodologi
                                </td>
                                <td>
                                    {{rekap_haki.cmnt_informasi}}
                                </td>
                            </tr>
                            <tr class="bordernilai">
                                <td style="text-align: center" class="bordernilai">Kelengkapan unsur dan kualitas penerbit</td>
                                <td>
                                    {{rekap_haki.cmnt_kualitas_penerbit}}
                                </td>
                            </tr>
                        </table>
                        <table style="margin-bottom: 3cm;">
                            <tr>
                                <td>Jatinangor, {{rekap_haki.created|date}}</td>
                            </tr>
                            <tr>
                                <td>Reviewer,</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th style="text-align: left">{{rekap_haki.berkas.reviewer}}</th>
                            </tr>
                            <tr>
                                <td>NIP. {{rekap_haki.berkas.reviewer.nip}}</td>
                            </tr>
                        </table>
                        <small class="sp">Unit Kerja: {{rekap_haki.berkas.reviewer.unit_kerja}}</small><br>
                        <small class="sp">Bidang Ilmu: {{rekap_haki.berkas.reviewer.bidang_ilmu}}</small><br>
                        <small class="sp">Jabatan/Pangkat: {{rekap_haki.berkas.reviewer.jabatan_pangkat}}</small>
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}
</body>
</html>