<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @page {
            size: 210mm 350mm;
            margin: 5mm 10mm 5mm 10mm;
        }
            /* br{
                line-height: 1px;
            } */

            .spacing-kecil {
                line-height: 0.7;
            }

            .judul {
                font-family: "Times New Roman", Times, serif;
                font-size: 9pt;
                font-weight: bolder;
            }
            .judul-lbrgab {
                font-family: "Times New Roman", Times, serif;
                font-size: 12pt;
                font-weight: bolder;
                width: 100%;
                text-align: center;
            }
            .paragraf {
                font-family: "Times New Roman", Times, serif;
                font-size: 8.5pt;
            }
            tr {
                margin-bottom: 50;
            }
            p{
                margin-bottom: 1px;
                width: 100%;
            }
            .break{
                page-break-before: always;
            }
            .bordernilai {
                border-collapse: collapse;
                border: 1px solid black;
                margin-top: 25;
                padding-top: 2px;
                padding-left: 2px;
                padding-bottom: none;
            }
            .checkbox{
                border-right: 1px solid black;
                border-left: 1px solid black;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                text-align: center;
            }
            .col-num{
                width: 5%;
            }
            .col-1-1{
                width: 43%;
            }
            .col-2-1{
                width: 2%;
            }
            .col-3-1{
                width: 50%;
            }
            .col-1-2{
                width: 30%;
            }
            .col-2-2{
                width: 2%;
            }
            .col-1-3{
                width: 25%;
            }
            .col-2-3{
                width: 2%;
            }
            .col-3-4{
                width: 55%;
            }
            .col-1-ttd-1{
                width: 35%;
            }
            .col-2-ttd-1{
                width: 30%;
            }
            .col-3-ttd-1{
                width: 35%;
            }
            .tb_paragraf{
                width: 100%;
                margin-bottom: 50px;
            }
            .tb_atasnama{
                width: 100%;
                margin-top: 50px;
                margin-bottom: 50px;
            }
            .tb_ttd{
                width: 100%;
                margin-bottom: 3cm;
                margin-top: 50px;
            }
            .lbrgab {
                font-size: 10pt;
            }
    </style>
    <title>Gabungan Penilaian</title>
</head>
<body>
    {% if usrlogin.is_superuser or usrlogin.id == 22 or usrlogin.id == berkas.buku.penulis_utama.users.id %}
        {% if berkas.buku.penulis_utama != None %}
            <table class="judul-lbrgab">
                <tr>
                    <th>LEMBAR REKAPITULASI</th>
                </tr>
                <tr>
                    <th>HASIL PENILAIAN KARYA ILMIAH</th>
                </tr>
            </table>
            <br>
            <div class="lbrgab">
                <p>Yang bertanda tangan di bawah ini </p>
                <table class="tb_paragraf">
                    <tr>
                        <td class="col-num">I.</td>
                        <td class="col-1-1">Nama</td>
                        <td class="col-2-1">:</td>
                        <td class="col-3-1">{{berkas.buku.reviewer}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>NIP</td>
                        <td>:</td>
                        <td>{{berkas.buku.reviewer.nip}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pangkat/Golongan/Ruang</td>
                        <td>:</td>
                        <td>{{berkas.buku.reviewer.pangkat}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Jabatan Fungsional</td>
                        <td>:</td>
                        <td>{{berkas.buku.reviewer.jabatan_pangkat}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Unit Kerja</td>
                        <td>:</td>
                        <td>{{berkas.buku.reviewer.unit_kerja}}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>II.</td>
                        <td>Nama</td>
                        <td>:</td>
                        <td>{{berkas.buku.reviewer_2}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>NIP</td>
                        <td>:</td>
                        <td>{{berkas.buku.reviewer_2.nip}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pangkat/Golongan/Ruang</td>
                        <td>:</td>
                        <td>{{berkas.buku.reviewer_2.pangkat}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Jabatan Fungsional</td>
                        <td>:</td>
                        <td>{{berkas.buku.reviewer_2.jabatan_pangkat}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Unit Kerja</td>
                        <td>:</td>
                        <td>{{berkas.buku.reviewer_2.unit_kerja}}</td>
                    </tr>
                </table>
                <p>Menyatakan dengan sebenarnya bahwa : </p>
                <br>
                <table class="tb_paragraf">
                    <tr>
                        <td class="col-1-2">Karya ilmiah yang berjudul</td>
                        <td class="col-2-2">:</td>
                        <td class="col-3-2">{{berkas.buku}}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td class="col-1-3">Nilai Rata-rata</td>
                        <td class="col-2-3">:</td>
                        <td>({{berkas.nilai_pu|floatformat}} + {{berkas_2.nilai_pu|floatformat}})/2 = {{nilaitotal_pu|floatformat}}</td>
                    </tr>
                </table>
                <p>Yang diajukan untuk kenaikan jabatan akademik/fungsional ke jenjang Lektor Kepala/Guru Besar atas nama :</p>
                <br>
                <table class="tb_paragraf">
                    <tr>
                        <td class="col-1-1">Nama</td>
                        <td class="col-2-1">:</td>
                        <td class="col-3-4">{{berkas.buku.penulis_utama}}</td>
                    </tr>
                    <tr>
                        <td>NIP</td>
                        <td>:</td>
                        <td>{{berkas.buku.penulis_utama.users.username}}</td>
                    </tr>
                    <tr>
                        <td>Pangkat/Golongan/Ruang</td>
                        <td>:</td>
                        <td>{{berkas.buku.penulis_utama.pangkat}}</td>
                    </tr>
                    <tr>
                        <td>Jabatan Fungsional</td>
                        <td>:</td>
                        <td>{{berkas.buku.penulis_utama.jabatan}}</td>
                    </tr>
                    <tr>
                        <td>Unit Kerja</td>
                        <td>:</td>
                        <td>{{berkas.buku.penulis_utama.unit}}</td>
                    </tr>
                </table>
                <p>Telah diperiksa/divalidasi dan hasilnya telah memenuhi kaidah ilmiah, norma akademik, dan norma hukum sesuai dengan Peraturan Mentri Pendidikan Nasional No. 17 tahun 2010 Tentang Pencegahan Plagiat di Perguruan Tinggi</p>
                <table class="tb_ttd">
                    <tr>
                        <td class="col-1-ttd-1"></td>
                        <td class="col-2-ttd-1"></td>
                        <td class="col-3-ttd-1">Jatinangor, {{berkas.created|date}}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>Penilai I</td>
                        <td></td>
                        <td>Penilai II</td>
                    </tr>
                    <tr>
                        {% if berkas.buku.reviewer.ttd or berkas.buku.reviewer_2.ttd %}
                            <td><img style="width: 80px; position: absolute;" src="{{berkas.buku.reviewer.ttd.path}}" alt=""></td>
                            <td></td>
                            <td><img style="width: 80px; position: absolute;" src="{{berkas.buku.reviewer_2.ttd.path}}" alt=""></td>
                        {% else %}
                            <td><br><br><br><br></td>
                            <td><br><br><br><br></td>
                            <td><br><br><br><br></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{{berkas.buku.reviewer}}.</td>
                        <td></td>
                        <td>{{berkas.buku.reviewer_2}}</td>
                    </tr>
                    <tr>
                        <td>NIP. {{berkas.buku.reviewer.nip}}</td>
                        <td></td>
                        <td>NIP. {{berkas.buku.reviewer.nip}}</td>
                    </tr>
                </table>
            </div>
            <div class="break"></div>
            <table style="width: 100%;" class="judul">
                <tr>
                    <th style="text-align: right;">Lampiran 6</th>
                </tr>
                <tr>
                    <th style="text-align: center;">LEMBAR</th>
                </tr>
                <tr>
                    <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
                </tr>
                <tr>
                    <th style="text-align: center;">KARYA ILMIAH : BUKU</th>
                </tr>
            </table>
            <div class="paragraf">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 20%;">Judul Artikel Ilmiah</td>
                        <td style="width: 2%">: </td>
                        <td style="width: 78%;">{{berkas.buku.judul}}</td>
                    </tr>
                    <tr>
                        <td>Penulis Artikel Ilmiah</td>
                        <td>:</td>
                        <td>
                        {% if berkas.buku.penulis_utama != None %}
                            <strong>{{berkas.buku.penulis_utama}}</strong>,
                        {% else %}
                            {{berkas.buku.penulis_utama_selain}},
                        {% endif %}
                        {% for penulis in berkas.buku.penulis_lain.all %}
                            {{penulis}},
                        {% endfor %}
                        {% for penulis_lain in berkas.buku.penulis_selain.all %}
                            {{penulis_lain}},
                        {% endfor %}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="width: 20%;">Identitas Jurnal Ilmiah</td>
                        <td style="width: 2%;">:</td>
                        <td style="width: 2%;">a. </td>
                        <td style="width: 20%;">ISBN</td>
                        <td style="width: 2%;">:</td>
                        <td style="width: 54%;"> {{berkas.buku.nomor_isbn}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>b. </td>
                        <td>Edisi</td>
                        <td>:</td>
                        <td>{{berkas.buku.edisi}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>c. </td>
                        <td>Tahun Terbit</td>
                        <td>:</td>
                        <td>{{berkas.buku.tahun_terbit}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>d. </td>
                        <td>Penerbit</td>
                        <td>:</td>
                        <td>{{berkas.buku.penerbit}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>e. </td>
                        <td>Jumlah Halaman</td>
                        <td>:</td>
                        <td>{{berkas.buku.jumlah_halaman}}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="width: 40%;" rowspan="3">Kategori Publikasi Jurnal Ilmiah beri √ pada kategori yang tepat)</td>
                        <td class="checkbox" style="width: 5%;">
                            {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                                V
                            {% endif %}
                        </td>
                        <td style="width: 55%; padding: 2px 0 0 2px;">Buku Referensi</td>                    
                    </tr>
                    <tr>
                        <td class="checkbox">
                            {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                                V
                            {% endif %}
                        </td>
                        <td style="padding: 2px 0 0 2px;">Buku Monograf</td>
                    </tr>
                    <tr>
                        <td class="checkbox">
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                V
                            {% endif %}
                        </td>
                        <td style="padding: 2px 0 0 2px;">Book Chapter Internasional</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="checkbox">
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                V
                            {% endif %}
                        </td>
                        <td style="padding: 2px 0 0 2px;">Book Chapter Nasional</td>
                    </tr>
                </table>
                <p>Hasil Penilaian Peer Review :</p>
                <table style="border-collapse: collapse;">
                    <tr class="bordernilai">
                        <td style="text-align: center;">Komponen Yang Dinilai</td>
                        <td style="text-align: center;" colspan="4">Nilai Maksimal Jurnal Ilmiah (isikan di kolom yang sesuai)</td>
                        <td style="text-align: center;">Nilai Akhir Yang Diperoleh</td>
                    </tr>
                    <tr class="bordernilai">
                        <td style="width: 25%;"></td>
                        <td style="text-align: center; width: 15%">Buku Referensi</td>
                        <td style="text-align: center; width: 15%">Buku Monograf</td>
                        <td style="text-align: center; width: 15%">Book Chapter Internasional</td>
                        <td style="text-align: center; width: 15%">Book Chapter Nasional</td>
                        <td style="text-align: center; width: 15%;"></td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kelengkapan dan Kesesuaian isi Jurnal(10%)</td>
                        {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">4</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">2</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">1.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">1</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas.unsur_isi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Ruang lingkup dan kedalaman pembahasan(30%)</td>
                        {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">12</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">6</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">4.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">3</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas.pembahasan}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kecukupan dan kemutahiran data/iformasi dan metodologi(30%)</td>
                        {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">12</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">6</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">4.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">3</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas.informasi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kelengkapan unsur dan kualitas penerbit(30%)</td>
                        {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">12</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">6</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">4.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">3</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas.kualitas_penerbit}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Total</td>
                        {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">40</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">20</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">15</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">10</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas.total}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kotribusi Pengusul (Penulis Pertama/Anggota Utama)</td>
                        <td colspan="4">Penulis Utama dari {{berkas.buku.jmlh_penulis}} penulis 
                        {% if berkas.buku.penulis_lain.exists %}
                            80%
                        {% elif berkas.buku.penulis_lain.exists == False %}
                            100%
                        {% endif %}
                            x ({{berkas.total}})</td>
                        <td>{{berkas.nilai_pu|floatformat}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td colspan="6">KOMENTAR/ULASAN PEER REVIEW</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Kelengkapan dan Kesesuaian Unsur</td>
                        <td colspan="5">{{berkas.cmnt_unsur_isi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Ruang Lingkup dan Kedalaman Pembahasan</td>
                        <td colspan="5">{{berkas.cmnt_pembahasan}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Kecukupan & Kemutakhiran Data & Metodologi</td>
                        <td colspan="5">{{berkas.cmnt_informasi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Kelengkapan Unsur & Kualitas Penerbit</td>
                        <td colspan="5">{{berkas.cmnt_kualitas_penerbit}}</td>
                    </tr>
                </table>
                <table style="margin-top: 10px;">
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;">Jatinangor, {{berkas.created|date}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Reviewer</td>
                    </tr>
                </table>
                {% if berkas.buku.reviewer.ttd %}
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;">
                            <img style="width: 100px; position: absolute;" src="{{berkas.buku.reviewer.ttd.path}}" alt="">
                            <!-- <div style="position: relative; top: 10px;">{{berkas.buku.reviewer}}</div> -->
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;">{{berkas.buku.reviewer}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>NIP. {{berkas.buku.reviewer.nip}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p class="spacing-kecil">
                                <small class="sp">Unit Kerja: {{berkas.buku.reviewer.unit_kerja}}</small> <br>
                                <small class="sp">Bidang Ilmu: {{berkas.buku.reviewer.bidang_ilmu}}</small> <br>
                                <small class="sp">Jabatan/Pangkat: {{berkas.buku.reviewer.jabatan_pangkat}}</small>
                            </p>
                        </td>
                    </tr>
                </table>
            {% else %}
                <table style="margin-top: 1.5cm; width: 100%;">
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;">{{berkas.buku.reviewer}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>NIP. {{berkas.buku.reviewer.nip}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p class="spacing-kecil">
                                <small class="sp">Unit Kerja: {{berkas.buku.reviewer.unit_kerja}}</small> <br>
                                <small class="sp">Bidang Ilmu: {{berkas.buku.reviewer.bidang_ilmu}}</small> <br>
                                <small class="sp">Jabatan/Pangkat: {{berkas.buku.reviewer.jabatan_pangkat}}</small>
                            </p>
                        </td>
                    </tr>
                </table>
            {% endif %}
            </div>
            <div class="break"></div>
            <table style="width: 100%;" class="judul">
                <tr>
                    <th style="text-align: right;">Lampiran 6</th>
                </tr>
                <tr>
                    <th style="text-align: center;">LEMBAR</th>
                </tr>
                <tr>
                    <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
                </tr>
                <tr>
                    <th style="text-align: center;">KARYA ILMIAH : BUKU</th>
                </tr>
            </table>
            <div class="paragraf">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 20%;">Judul Artikel Ilmiah</td>
                        <td style="width: 2%">: </td>
                        <td style="width: 78%;">{{berkas_2.buku.judul}}</td>
                    </tr>
                    <tr>
                        <td>Penulis Artikel Ilmiah</td>
                        <td>:</td>
                        <td>
                        {% if berkas_2.buku.penulis_utama != None %}
                            <strong>{{berkas_2.buku.penulis_utama}}</strong>,
                        {% else %}
                            {{berkas_2.buku.penulis_utama_selain}},
                        {% endif %}
                        {% for penulis in berkas_2.buku.penulis_lain.all %}
                            {{penulis}},
                        {% endfor %}
                        {% for penulis_lain in berkas_2.buku.penulis_selain.all %}
                            {{penulis_lain}},
                        {% endfor %}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="width: 20%;">Identitas Jurnal Ilmiah</td>
                        <td style="width: 2%;">:</td>
                        <td style="width: 2%;">a. </td>
                        <td style="width: 20%;">ISBN</td>
                        <td style="width: 2%;">:</td>
                        <td style="width: 54%;"> {{berkas_2.buku.nomor_isbn}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>b. </td>
                        <td>Edisi</td>
                        <td>:</td>
                        <td>{{berkas_2.buku.edisi}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>c. </td>
                        <td>Tahun Terbit</td>
                        <td>:</td>
                        <td>{{berkas_2.buku.tahun_terbit}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>d. </td>
                        <td>Penerbit</td>
                        <td>:</td>
                        <td>{{berkas_2.buku.penerbit}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>e. </td>
                        <td>Jumlah Halaman</td>
                        <td>:</td>
                        <td>{{berkas_2.buku.jumlah_halaman}}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="width: 40%;" rowspan="3">Kategori Publikasi Jurnal Ilmiah beri √ pada kategori yang tepat)</td>
                        <td class="checkbox" style="width: 5%;">
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                                V
                            {% endif %}
                        </td>
                        <td style="width: 55%; padding: 2px 0 0 2px;">Buku Referensi</td>                    
                    </tr>
                    <tr>
                        <td class="checkbox">
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                                V
                            {% endif %}
                        </td>
                        <td style="padding: 2px 0 0 2px;">Buku Monograf</td>
                    </tr>
                    <tr>
                        <td class="checkbox">
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                V
                            {% endif %}
                        </td>
                        <td style="padding: 2px 0 0 2px;">Book Chapter Internasional</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="checkbox">
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                V
                            {% endif %}
                        </td>
                        <td style="padding: 2px 0 0 2px;">Book Chapter Nasional</td>
                    </tr>
                </table>
                <p>Hasil Penilaian Peer Review :</p>
                <table style="border-collapse: collapse;">
                    <tr class="bordernilai">
                        <td style="text-align: center;">Komponen Yang Dinilai</td>
                        <td style="text-align: center;" colspan="4">Nilai Maksimal Jurnal Ilmiah (isikan di kolom yang sesuai)</td>
                        <td style="text-align: center;">Nilai Akhir Yang Diperoleh</td>
                    </tr>
                    <tr class="bordernilai">
                        <td style="width: 25%;"></td>
                        <td style="text-align: center; width: 15%">Buku Referensi</td>
                        <td style="text-align: center; width: 15%">Buku Monograf</td>
                        <td style="text-align: center; width: 15%">Book Chapter Internasional</td>
                        <td style="text-align: center; width: 15%">Book Chapter Nasional</td>
                        <td style="text-align: center; width: 15%;"></td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kelengkapan dan Kesesuaian isi Jurnal(10%)</td>
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">4</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">2</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">1.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">1</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas_2.unsur_isi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Ruang lingkup dan kedalaman pembahasan(30%)</td>
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">12</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">6</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">4.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">3</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas_2.pembahasan}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kecukupan dan kemutahiran data/iformasi dan metodologi(30%)</td>
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">12</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">6</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">4.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">3</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas_2.informasi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kelengkapan unsur dan kualitas penerbit(30%)</td>
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">12</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">6</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">4.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">3</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas_2.kualitas_penerbit}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Total</td>
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">40</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">20</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">15</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">10</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{berkas_2.total}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kotribusi Pengusul (Penulis Pertama/Anggota Utama)</td>
                        <td colspan="4">Penulis Utama dari {{berkas_2.buku.jmlh_penulis}} penulis 
                        {% if berkas_2.buku.penulis_lain.exists %}
                            80%
                        {% elif berkas_2.buku.penulis_lain.exists == False %}
                            100%
                        {% endif %}
                            x ({{berkas_2.total}})</td>
                        <td>{{berkas_2.nilai_pu|floatformat}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td colspan="6">KOMENTAR/ULASAN PEER REVIEW</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Kelengkapan dan Kesesuaian Unsur</td>
                        <td colspan="5">{{berkas_2.cmnt_unsur_isi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Ruang Lingkup dan Kedalaman Pembahasan</td>
                        <td colspan="5">{{berkas_2.cmnt_pembahasan}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Kecukupan & Kemutakhiran Data & Metodologi</td>
                        <td colspan="5">{{berkas_2.cmnt_informasi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Kelengkapan Unsur & Kualitas Penerbit</td>
                        <td colspan="5">{{berkas_2.cmnt_kualitas_penerbit}}</td>
                    </tr>
                </table>
                <table style="margin-top: 10px;">
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;">Jatinangor, {{berkas_2.created|date}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Reviewer 2</td>
                    </tr>
                </table>
                {% if berkas_2.buku.reviewer_2.ttd %}
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">
                                <img style="width: 100px; position: absolute;" src="{{berkas_2.buku.reviewer_2.ttd.path}}" alt="">
                                <!-- <div style="position: relative; top: 10px;">{{berkas_2.buku.reviewer_2}}</div> -->
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">{{berkas_2.buku.reviewer_2}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>NIP. {{berkas_2.buku.reviewer_2.nip}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p class="spacing-kecil">
                                    <small class="sp">Unit Kerja: {{berkas_2.buku.reviewer_2.unit_kerja}}</small> <br>
                                    <small class="sp">Bidang Ilmu: {{berkas_2.buku.reviewer_2.bidang_ilmu}}</small> <br>
                                    <small class="sp">Jabatan/Pangkat: {{berkas_2.buku.reviewer_2.jabatan_pangkat}}</small>
                                </p>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <table style="margin-top: 1.5cm; width: 100%;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;"></td>
                        </tr>
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">{{berkas_2.buku.reviewer_2}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>NIP. {{berkas_2.buku.reviewer_2.nip}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p class="spacing-kecil">
                                    <small class="sp">Unit Kerja: {{berkas_2.buku.reviewer_2.unit_kerja}}</small> <br>
                                    <small class="sp">Bidang Ilmu: {{berkas_2.buku.reviewer_2.bidang_ilmu}}</small> <br>
                                    <small class="sp">Jabatan/Pangkat: {{berkas_2.buku.reviewer_2.jabatan_pangkat}}</small>
                                </p>
                            </td>
                        </tr>
                    </table>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    {% if berkas.buku.penulis_lain.all.exists %}
        {% for penuliss in berkas.buku.penulis_lain.all %}
            {% if usrlogin.is_superuser or usrlogin.id == 22 or usrlogin.id == penuliss.users.id %}
                {% if usrlogin.id == penuliss.users.id %}

                {% else %}
                    <div class="break"></div>
                {% endif %}
                <table class="judul-lbrgab">
                    <tr>
                        <th>LEMBAR REKAPITULASI</th>
                    </tr>
                    <tr>
                        <th>HASIL PENILAIAN KARYA ILMIAH</th>
                    </tr>
                </table>
                <br>
                <div class="lbrgab">
                    <p>Yang bertanda tangan di bawah ini </p>
                    <table class="tb_paragraf">
                        <tr>
                            <td class="col-num">I.</td>
                            <td class="col-1-1">Nama</td>
                            <td class="col-2-1">:</td>
                            <td class="col-3-1">{{berkas.buku.reviewer}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>NIP</td>
                            <td>:</td>
                            <td>{{berkas.buku.reviewer.nip}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Pangkat/Golongan/Ruang</td>
                            <td>:</td>
                            <td>{{berkas.buku.reviewer.pangkat}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Jabatan Fungsional</td>
                            <td>:</td>
                            <td>{{berkas.buku.reviewer.jabatan_pangkat}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Unit Kerja</td>
                            <td>:</td>
                            <td>{{berkas.buku.reviewer.unit_kerja}}</td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>II.</td>
                            <td>Nama</td>
                            <td>:</td>
                            <td>{{berkas.buku.reviewer_2}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>NIP</td>
                            <td>:</td>
                            <td>{{berkas.buku.reviewer_2.nip}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Pangkat/Golongan/Ruang</td>
                            <td>:</td>
                            <td>{{berkas.buku.reviewer_2.pangkat}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Jabatan Fungsional</td>
                            <td>:</td>
                            <td>{{berkas.buku.reviewer_2.jabatan_pangkat}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Unit Kerja</td>
                            <td>:</td>
                            <td>{{berkas.buku.reviewer_2.unit_kerja}}</td>
                        </tr>
                    </table>
                    <p>Menyatakan dengan sebenarnya bahwa : </p>
                    <br>
                    <table class="tb_paragraf">
                        <tr>
                            <td class="col-1-2">Karya ilmiah yang berjudul</td>
                            <td class="col-2-2">:</td>
                            <td class="col-3-2">{{berkas.buku}}</td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td class="col-1-3">Nilai Rata-rata</td>
                            <td class="col-2-3">:</td>
                            <td>({{berkas.nilai_pl|floatformat}} + {{berkas_2.nilai_pl|floatformat}})/2 = {{nilaitotal_pl|floatformat}}</td>
                        </tr>
                    </table>
                    <p>Yang diajukan untuk kenaikan jabatan akademik/fungsional ke jenjang Lektor Kepala/Guru Besar atas nama :</p>
                    <br>
                    <table class="tb_paragraf">
                        <tr>
                            <td class="col-1-1">Nama</td>
                            <td class="col-2-1">:</td>
                            <td class="col-3-4">{{penuliss}}</td>
                        </tr>
                        <tr>
                            <td>NIP</td>
                            <td>:</td>
                            <td>{{penuliss.users.username}}</td>
                        </tr>
                        <tr>
                            <td>Pangkat/Golongan/Ruang</td>
                            <td>:</td>
                            <td>{{penuliss.pangkat}}</td>
                        </tr>
                        <tr>
                            <td>Jabatan Fungsional</td>
                            <td>:</td>
                            <td>{{penuliss.jabatan}}</td>
                        </tr>
                        <tr>
                            <td>Unit Kerja</td>
                            <td>:</td>
                            <td>{{penuliss.unit}}</td>
                        </tr>
                    </table>
                    <p>Telah diperiksa/divalidasi dan hasilnya telah memenuhi kaidah ilmiah, norma akademik, dan norma hukum sesuai dengan Peraturan Mentri Pendidikan Nasional No. 17 tahun 2010 Tentang Pencegahan Plagiat di Perguruan Tinggi</p>
                    <table class="tb_ttd">
                        <tr>
                            <td class="col-1-ttd-1"></td>
                            <td class="col-2-ttd-1"></td>
                            <td class="col-3-ttd-1">Jatinangor, {{berkas.created|date}}</td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td>Penilai I</td>
                            <td></td>
                            <td>Penilai II</td>
                        </tr>
                        <tr>
                            {% if berkas.buku.reviewer.ttd or berkas.buku.reviewer_2.ttd %}
                                <td><img style="width: 80px; position: absolute;" src="{{berkas.buku.reviewer.ttd.path}}" alt=""></td>
                                <td></td>
                                <td><img style="width: 80px; position: absolute;" src="{{berkas.buku.reviewer_2.ttd.path}}" alt=""></td>
                            {% else %}
                                <td><br><br><br><br></td>
                                <td><br><br><br><br></td>
                                <td><br><br><br><br></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>{{berkas.buku.reviewer}}.</td>
                            <td></td>
                            <td>{{berkas.buku.reviewer_2}}</td>
                        </tr>
                        <tr>
                            <td>NIP. {{berkas.buku.reviewer.nip}}</td>
                            <td></td>
                            <td>NIP. {{berkas.buku.reviewer.nip}}</td>
                        </tr>
                    </table>
                </div>
                <div class="break"></div>
                <table style="width: 100%;" class="judul">
                    <tr>
                        <th style="text-align: right;">Lampiran 6</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">LEMBAR</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">KARYA ILMIAH : BUKU</th>
                    </tr>
                </table>
                <div class="paragraf">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 20%;">Judul Artikel Ilmiah</td>
                            <td style="width: 2%">: </td>
                            <td style="width: 78%;">{{berkas.buku.judul}}</td>
                        </tr>
                        <tr>
                            <td>Penulis Artikel Ilmiah</td>
                            <td>:</td>
                            <td>
                            {% if berkas.buku.penulis_utama != None %}
                                {{berkas.buku.penulis_utama}},
                            {% else %}
                                {{berkas.buku.penulis_utama_selain}},
                            {% endif %}
                            {% for penulis in berkas.buku.penulis_lain.all %}
                                {% if penulis == penuliss %}
                                    <strong>{{penulis}}</strong>,
                                {% elif penulis != penuliss%}
                                    {{penulis}}
                                {% endif %}
                            {% endfor %}
                            {% for penulis_lain in berkas.buku.penulis_selain.all %}
                                {{penulis_lain}},
                            {% endfor %}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width: 20%;">Identitas Jurnal Ilmiah</td>
                            <td style="width: 2%;">:</td>
                            <td style="width: 2%;">a. </td>
                            <td style="width: 20%;">ISBN</td>
                            <td style="width: 2%;">:</td>
                            <td style="width: 54%;"> {{berkas.buku.nomor_isbn}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>b. </td>
                            <td>Edisi</td>
                            <td>:</td>
                            <td>{{berkas.buku.edisi}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>c. </td>
                            <td>Tahun Terbit</td>
                            <td>:</td>
                            <td>{{berkas.buku.tahun_terbit}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>d. </td>
                            <td>Penerbit</td>
                            <td>:</td>
                            <td>{{berkas.buku.penerbit}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>e. </td>
                            <td>Jumlah Halaman</td>
                            <td>:</td>
                            <td>{{berkas.buku.jumlah_halaman}}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width: 40%;" rowspan="3">Kategori Publikasi Jurnal Ilmiah beri √ pada kategori yang tepat)</td>
                            <td class="checkbox" style="width: 5%;">
                                {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="width: 55%; padding: 2px 0 0 2px;">Buku Referensi</td>                    
                        </tr>
                        <tr>
                            <td class="checkbox">
                                {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Buku Monograf</td>
                        </tr>
                        <tr>
                            <td class="checkbox">
                                {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Book Chapter Internasional</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="checkbox">
                                {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Book Chapter Nasional</td>
                        </tr>
                    </table>
                    <p>Hasil Penilaian Peer Review :</p>
                    <table style="border-collapse: collapse;">
                        <tr class="bordernilai">
                            <td style="text-align: center;">Komponen Yang Dinilai</td>
                            <td style="text-align: center;" colspan="4">Nilai Maksimal Jurnal Ilmiah (isikan di kolom yang sesuai)</td>
                            <td style="text-align: center;">Nilai Akhir Yang Diperoleh</td>
                        </tr>
                        <tr class="bordernilai">
                            <td style="width: 25%;"></td>
                            <td style="text-align: center; width: 15%">Buku Referensi</td>
                            <td style="text-align: center; width: 15%">Buku Monograf</td>
                            <td style="text-align: center; width: 15%">Book Chapter Internasional</td>
                            <td style="text-align: center; width: 15%">Book Chapter Nasional</td>
                            <td style="text-align: center; width: 15%;"></td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kelengkapan dan Kesesuaian isi Jurnal(10%)</td>
                            {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">4</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">2</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">1.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">1</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas.unsur_isi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Ruang lingkup dan kedalaman pembahasan(30%)</td>
                            {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas.pembahasan}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kecukupan dan kemutahiran data/iformasi dan metodologi(30%)</td>
                            {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas.informasi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kelengkapan unsur dan kualitas penerbit(30%)</td>
                            {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas.kualitas_penerbit}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Total</td>
                            {% if berkas.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">40</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">20</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">15</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">10</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas.total}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kotribusi Pengusul (Penulis Pertama/Anggota Utama)</td>
                            <td colspan="4">Penulis Anggota dari {{berkas.buku.jmlh_penulis}} penulis 20% x ({{berkas.total}}/{{berkas.jmlh_penulis_lain}})</td>
                            <td>{{berkas.nilai_pl|floatformat}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td colspan="6">KOMENTAR/ULASAN PEER REVIEW</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kelengkapan dan Kesesuaian Unsur</td>
                            <td colspan="5">{{berkas.cmnt_unsur_isi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Ruang Lingkup dan Kedalaman Pembahasan</td>
                            <td colspan="5">{{berkas.cmnt_pembahasan}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kecukupan & Kemutakhiran Data & Metodologi</td>
                            <td colspan="5">{{berkas.cmnt_informasi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kelengkapan Unsur & Kualitas Penerbit</td>
                            <td colspan="5">{{berkas.cmnt_kualitas_penerbit}}</td>
                        </tr>
                    </table>
                    <table style="margin-top: 10px;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">Jatinangor, {{berkas.created|date}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Reviewer</td>
                        </tr>
                    </table>
                    {% if berkas.buku.reviewer.ttd %}
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 72%;"></td>
                                <td style="width: 40%;">
                                    <img style="width: 100px; position: absolute;" src="{{berkas.buku.reviewer.ttd.path}}" alt="">
                                    <!-- <div style="position: relative; top: 10px;">{{berkas.buku.reviewer}}</div> -->
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 72%;"></td>
                                <td style="width: 40%;">{{berkas.buku.reviewer}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>NIP. {{berkas.buku.reviewer.nip}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p class="spacing-kecil">
                                        <small class="sp">Unit Kerja: {{berkas.buku.reviewer.unit_kerja}}</small> <br>
                                        <small class="sp">Bidang Ilmu: {{berkas.buku.reviewer.bidang_ilmu}}</small> <br>
                                        <small class="sp">Jabatan/Pangkat: {{berkas.buku.reviewer.jabatan_pangkat}}</small>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <table style="margin-top: 1.5cm; width: 100%;">
                            <tr>
                                <td style="width: 72%;"></td>
                                <td style="width: 40%;"></td>
                            </tr>
                            <tr>
                                <td style="width: 72%;"></td>
                                <td style="width: 40%;">{{berkas.buku.reviewer}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>NIP. {{berkas.buku.reviewer.nip}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p class="spacing-kecil">
                                        <small class="sp">Unit Kerja: {{berkas.buku.reviewer.unit_kerja}}</small> <br>
                                        <small class="sp">Bidang Ilmu: {{berkas.buku.reviewer.bidang_ilmu}}</small> <br>
                                        <small class="sp">Jabatan/Pangkat: {{berkas.buku.reviewer.jabatan_pangkat}}</small>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
                <div class="break"></div>
                <table style="width: 100%;" class="judul">
                    <tr>
                        <th style="text-align: right;">Lampiran 6</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">LEMBAR</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">KARYA ILMIAH : BUKU</th>
                    </tr>
                </table>
                <div class="paragraf">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 20%;">Judul Artikel Ilmiah</td>
                            <td style="width: 2%">: </td>
                            <td style="width: 78%;">{{berkas_2.buku.judul}}</td>
                        </tr>
                        <tr>
                            <td>Penulis Artikel Ilmiah</td>
                            <td>:</td>
                            <td>
                            {% if berkas_2.buku.penulis_utama != None %}
                                {{berkas_2.buku.penulis_utama}},
                            {% else %}
                                {{berkas_2.buku.penulis_utama_selain}},
                            {% endif %}
                            {% for penulis in berkas_2.buku.penulis_lain.all %}
                                {% if penulis == penuliss %}
                                    <strong>{{penulis}}</strong>,
                                {% elif penulis != penuliss%}
                                    {{penulis}}
                                {% endif %}
                            {% endfor %}
                            {% for penulis_lain in berkas_2.buku.penulis_selain.all %}
                                {{penulis_lain}},
                            {% endfor %}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width: 20%;">Identitas Jurnal Ilmiah</td>
                            <td style="width: 2%;">:</td>
                            <td style="width: 2%;">a. </td>
                            <td style="width: 20%;">ISBN</td>
                            <td style="width: 2%;">:</td>
                            <td style="width: 54%;"> {{berkas_2.buku.nomor_isbn}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>b. </td>
                            <td>Edisi</td>
                            <td>:</td>
                            <td>{{berkas_2.buku.edisi}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>c. </td>
                            <td>Tahun Terbit</td>
                            <td>:</td>
                            <td>{{berkas_2.buku.tahun_terbit}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>d. </td>
                            <td>Penerbit</td>
                            <td>:</td>
                            <td>{{berkas_2.buku.penerbit}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>e. </td>
                            <td>Jumlah Halaman</td>
                            <td>:</td>
                            <td>{{berkas_2.buku.jumlah_halaman}}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width: 40%;" rowspan="3">Kategori Publikasi Jurnal Ilmiah beri √ pada kategori yang tepat)</td>
                            <td class="checkbox" style="width: 5%;">
                                {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="width: 55%; padding: 2px 0 0 2px;">Buku Referensi</td>                    
                        </tr>
                        <tr>
                            <td class="checkbox">
                                {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Buku Monograf</td>
                        </tr>
                        <tr>
                            <td class="checkbox">
                                {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Book Chapter Internasional</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="checkbox">
                                {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Book Chapter Nasional</td>
                        </tr>
                    </table>
                    <p>Hasil Penilaian Peer Review :</p>
                    <table style="border-collapse: collapse;">
                        <tr class="bordernilai">
                            <td style="text-align: center;">Komponen Yang Dinilai</td>
                            <td style="text-align: center;" colspan="4">Nilai Maksimal Jurnal Ilmiah (isikan di kolom yang sesuai)</td>
                            <td style="text-align: center;">Nilai Akhir Yang Diperoleh</td>
                        </tr>
                        <tr class="bordernilai">
                            <td style="width: 25%;"></td>
                            <td style="text-align: center; width: 15%">Buku Referensi</td>
                            <td style="text-align: center; width: 15%">Buku Monograf</td>
                            <td style="text-align: center; width: 15%">Book Chapter Internasional</td>
                            <td style="text-align: center; width: 15%">Book Chapter Nasional</td>
                            <td style="text-align: center; width: 15%;"></td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kelengkapan dan Kesesuaian isi Jurnal(10%)</td>
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">4</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">2</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">1.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">1</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas_2.unsur_isi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Ruang lingkup dan kedalaman pembahasan(30%)</td>
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas_2.pembahasan}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kecukupan dan kemutahiran data/iformasi dan metodologi(30%)</td>
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas_2.informasi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kelengkapan unsur dan kualitas penerbit(30%)</td>
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas_2.kualitas_penerbit}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Total</td>
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">40</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">20</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">15</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if berkas_2.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">10</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{berkas_2.total}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kotribusi Pengusul (Penulis Pertama/Anggota Utama)</td>
                            <td colspan="4">Penulis Anggota dari {{berkas_2.buku.jmlh_penulis}} penulis 20% x ({{berkas_2.total}}/{{berkas_2.jmlh_penulis_lain}})</td>
                            <td>{{berkas_2.nilai_pl|floatformat}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td colspan="6">KOMENTAR/ULASAN PEER REVIEW</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kelengkapan dan Kesesuaian Unsur</td>
                            <td colspan="5">{{berkas_2.cmnt_unsur_isi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Ruang Lingkup dan Kedalaman Pembahasan</td>
                            <td colspan="5">{{berkas_2.cmnt_pembahasan}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kecukupan & Kemutakhiran Data & Metodologi</td>
                            <td colspan="5">{{berkas_2.cmnt_informasi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kelengkapan Unsur & Kualitas Penerbit</td>
                            <td colspan="5">{{berkas_2.cmnt_kualitas_penerbit}}</td>
                        </tr>
                    </table>
                    <table style="margin-top: 10px;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">Jatinangor, {{berkas_2.created|date}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Reviewer 2</td>
                        </tr>
                    </table>
                    {% if berkas_2.buku.reviewer_2.ttd %}
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 72%;"></td>
                                <td style="width: 40%;">
                                    <img style="width: 100px; position: absolute;" src="{{berkas_2.buku.reviewer_2.ttd.path}}" alt="">
                                    <!-- <div style="position: relative; top: 10px;">{{berkas_2.buku.reviewer_2}}</div> -->
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 72%;"></td>
                                <td style="width: 40%;">{{berkas_2.buku.reviewer_2}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>NIP. {{berkas_2.buku.reviewer_2.nip}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p class="spacing-kecil">
                                        <small class="sp">Unit Kerja: {{berkas_2.buku.reviewer_2.unit_kerja}}</small> <br>
                                        <small class="sp">Bidang Ilmu: {{berkas_2.buku.reviewer_2.bidang_ilmu}}</small> <br>
                                        <small class="sp">Jabatan/Pangkat: {{berkas_2.buku.reviewer_2.jabatan_pangkat}}</small>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <table style="margin-top: 1.5cm; width: 100%;">
                            <tr>
                                <td style="width: 72%;"></td>
                                <td style="width: 40%;"></td>
                            </tr>
                            <tr>
                                <td style="width: 72%;"></td>
                                <td style="width: 40%;">{{berkas_2.buku.reviewer_2}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>NIP. {{berkas_2.buku.reviewer_2.nip}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p class="spacing-kecil">
                                        <small class="sp">Unit Kerja: {{berkas_2.buku.reviewer_2.unit_kerja}}</small> <br>
                                        <small class="sp">Bidang Ilmu: {{berkas_2.buku.reviewer_2.bidang_ilmu}}</small> <br>
                                        <small class="sp">Jabatan/Pangkat: {{berkas_2.buku.reviewer_2.jabatan_pangkat}}</small>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>