<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @page {
            size: 210mm 350mm;
            margin: 5mm 10mm 5mm 10mm;
        }
            /* br{
                line-height: 1px;
            } */
            .judul {
                font-family: "Times New Roman", Times, serif;
                font-size: 9pt;
                font-weight: bolder;
            }
            .paragraf {
                font-family: "Times New Roman", Times, serif;
                font-size: 9pt;
            }
            .spacing-kecil {
                line-height: 0.7;
            }
            tr {
                margin-bottom: 50;
            }
            .jdl {
                font-size: 10px;
            }
            p{
                margin-bottom: 1px;
            }
            .break{
                page-break-before: always;
            }
            .bordernilai {
                border-collapse: collapse;
                border: 1px solid black;
                margin-top: 25;
                padding-top: 2px;
                padding-left: 2px;
                padding-bottom: none;
            }
            .checkbox{
                border-right: 1px solid black;
                border-left: 1px solid black;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                text-align: center;
            }
    </style>
    <title>Lembar Penilaian</title>
</head>
<body>
    {% if usrlogin.is_superuser or usrlogin.id == 22 %}
        {% if rekap_buku.buku.penulis_utama != None %}
            <table style="width: 100%;" class="judul">
                <tr>
                    <th style="text-align: right;">Lampiran 6</th>
                </tr>
                <tr>
                    <th style="text-align: center;">LEMBAR</th>
                </tr>
                <tr>
                    <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
                </tr>
                <tr>
                    <th style="text-align: center;">KARYA ILMIAH : BUKU</th>
                </tr>
            </table>
            <div class="paragraf">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 20%;">Judul Artikel Ilmiah</td>
                        <td style="width: 2%">: </td>
                        <td style="width: 78%;">{{rekap_buku.buku.judul}}</td>
                    </tr>
                    <tr>
                        <td>Penulis Artikel Ilmiah</td>
                        <td>:</td>
                        <td>
                        {% if rekap_buku.buku.penulis_utama != None %}
                            <strong>{{rekap_buku.buku.penulis_utama}}</strong>,
                        {% else %}
                            {{rekap_buku.buku.penulis_utama_selain}},
                        {% endif %}
                        {% for penulis in rekap_buku.buku.penulis_lain.all %}
                            {{penulis}},
                        {% endfor %}
                        {% for penulis_lain in rekap_buku.buku.penulis_selain.all %}
                            {{penulis_lain}},
                        {% endfor %}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="width: 20%;">Identitas Jurnal Ilmiah</td>
                        <td style="width: 2%;">:</td>
                        <td style="width: 2%;">a. </td>
                        <td style="width: 20%;">ISBN</td>
                        <td style="width: 2%;">:</td>
                        <td style="width: 54%;"> {{rekap_buku.buku.nomor_isbn}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>b. </td>
                        <td>Edisi</td>
                        <td>:</td>
                        <td>{{rekap_buku.buku.edisi}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>c. </td>
                        <td>Tahun Terbit</td>
                        <td>:</td>
                        <td>{{rekap_buku.buku.tahun_terbit}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>d. </td>
                        <td>Penerbit</td>
                        <td>:</td>
                        <td>{{rekap_buku.buku.penerbit}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>e. </td>
                        <td>Jumlah Halaman</td>
                        <td>:</td>
                        <td>{{rekap_buku.buku.jumlah_halaman}}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="width: 40%;" rowspan="3">Kategori Publikasi Jurnal Ilmiah beri √ pada kategori yang tepat)</td>
                        <td class="checkbox" style="width: 5%;">
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                V
                            {% endif %}
                        </td>
                        <td style="width: 55%; padding: 2px 0 0 2px;">Buku Referensi</td>                    
                    </tr>
                    <tr>
                        <td class="checkbox">
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                V
                            {% endif %}
                        </td>
                        <td style="padding: 2px 0 0 2px;">Buku Monograf</td>
                    </tr>
                    <tr>
                        <td class="checkbox">
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                V
                            {% endif %}
                        </td>
                        <td style="padding: 2px 0 0 2px;">Book Chapter Internasional</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="checkbox">
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                V
                            {% endif %}
                        </td>
                        <td style="padding: 2px 0 0 2px;">Book Chapter Nasional</td>
                    </tr>
                </table>
                <p>Hasil Penilaian Peer Review :</p>
                <table style="border-collapse: collapse;">
                    <tr class="bordernilai">
                        <td style="text-align: center;">Komponen Yang Dinilai</td>
                        <td style="text-align: center;" colspan="4">Nilai Maksimal Jurnal Ilmiah (isikan di kolom yang sesuai)</td>
                        <td style="text-align: center;">Nilai Akhir Yang Diperoleh</td>
                    </tr>
                    <tr class="bordernilai">
                        <td style="width: 25%;"></td>
                        <td style="text-align: center; width: 15%">Buku Referensi</td>
                        <td style="text-align: center; width: 15%">Buku Monograf</td>
                        <td style="text-align: center; width: 15%">Book Chapter Internasional</td>
                        <td style="text-align: center; width: 15%">Book Chapter Nasional</td>
                        <td style="text-align: center; width: 15%;"></td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kelengkapan dan Kesesuaian isi Jurnal(10%)</td>
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">4</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">2</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">1.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">1</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{rekap_buku.unsur_isi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Ruang lingkup dan kedalaman pembahasan(30%)</td>
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">12</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">6</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">4.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">3</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{rekap_buku.pembahasan}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kecukupan dan kemutahiran data/iformasi dan metodologi(30%)</td>
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">12</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">6</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">4.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">3</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{rekap_buku.informasi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kelengkapan unsur dan kualitas penerbit(30%)</td>
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">12</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">6</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">4.5</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">3</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{rekap_buku.kualitas_penerbit}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Total</td>
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                            <td style="text-align: center; width: 15%">40</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                            <td style="text-align: center; width: 15%">20</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            <td style="text-align: center; width: 15%">15</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            <td style="text-align: center; width: 15%">10</td>
                        {% else %}
                            <td style="text-align: center; width: 15%"></td>
                        {% endif %}
                        <td style="text-align: center; width: 15%;">{{rekap_buku.total}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td>Kotribusi Pengusul (Penulis Pertama/Anggota Utama)</td>
                        <td colspan="4">Penulis Utama dari {{rekap_buku.buku.jmlh_penulis}} penulis 
                        {% if rekap_buku.buku.penulis_lain.exists %}
                            80%
                        {% elif rekap_buku.buku.penulis_lain.exists == False %}
                            100%
                        {% endif %}
                            x ({{rekap_buku.total}})</td>
                        <td>{{rekap_buku.nilai_pu|floatformat}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td colspan="6">KOMENTAR/ULASAN PEER REVIEW</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Kelengkapan dan Kesesuaian Unsur</td>
                        <td colspan="5">{{rekap_buku.cmnt_unsur_isi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Ruang Lingkup dan Kedalaman Pembahasan</td>
                        <td colspan="5">{{rekap_buku.cmnt_pembahasan}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Kecukupan & Kemutakhiran Data & Metodologi</td>
                        <td colspan="5">{{rekap_buku.cmnt_informasi}}</td>
                    </tr>
                    <tr class="bordernilai">
                        <td class="bordernilai">Kelengkapan Unsur & Kualitas Penerbit</td>
                        <td colspan="5">{{rekap_buku.cmnt_kualitas_penerbit}}</td>
                    </tr>
                </table>
                <table style="margin-top: 10px;">
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;">Jatinangor, {{rekap_buku.created|date}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Reviewer</td>
                    </tr>
                </table>
                {% if rekap_buku.buku.reviewer.ttd %}
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;">
                            <img style="width: 100px; position: absolute;" src="{{rekap_buku.buku.reviewer.ttd.path}}" alt="">
                            <!-- <div style="position: relative; top: 10px;">{{rekap_buku.buku.reviewer}}</div> -->
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;">{{rekap_buku.buku.reviewer}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>NIP. {{rekap_buku.buku.reviewer.nip}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p class="spacing-kecil">
                                <small class="sp">Unit Kerja: {{rekap_buku.buku.reviewer.unit_kerja}}</small> <br>
                                <small class="sp">Bidang Ilmu: {{rekap_buku.buku.reviewer.bidang_ilmu}}</small> <br>
                                <small class="sp">Jabatan/Pangkat: {{rekap_buku.buku.reviewer.jabatan_pangkat}}</small>
                            </p>
                        </td>
                    </tr>
                </table>
            {% else %}
                <table style="margin-top: 1.5cm; width: 100%;">
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;"></td>
                    </tr>
                    <tr>
                        <td style="width: 72%;"></td>
                        <td style="width: 40%;">{{rekap_buku.buku.reviewer}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>NIP. {{rekap_buku.buku.reviewer.nip}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <p class="spacing-kecil">
                                <small class="sp">Unit Kerja: {{rekap_buku.buku.reviewer.unit_kerja}}</small> <br>
                                <small class="sp">Bidang Ilmu: {{rekap_buku.buku.reviewer.bidang_ilmu}}</small> <br>
                                <small class="sp">Jabatan/Pangkat: {{rekap_buku.buku.reviewer.jabatan_pangkat}}</small>
                            </p>
                        </td>
                    </tr>
                </table>
            {% endif %}
            </div>
            <!-- End of PU -->
        {% endif %}
        {% if rekap_buku.buku.penulis_lain.all.exists %}
            {% for penuliss in rekap_buku.buku.penulis_lain.all %}
                <div class="break"></div>
                <table style="width: 100%;" class="judul">
                    <tr>
                        <th style="text-align: right;">Lampiran 6</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">LEMBAR</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">KARYA ILMIAH : BUKU</th>
                    </tr>
                </table>
                <div class="paragraf">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 20%;">Judul Artikel Ilmiah</td>
                            <td style="width: 2%">: </td>
                            <td style="width: 78%;">{{rekap_buku.buku.judul}}</td>
                        </tr>
                        <tr>
                            <td>Penulis Artikel Ilmiah</td>
                            <td>:</td>
                            <td>
                            {% if rekap_buku.buku.penulis_utama != None %}
                                {{rekap_buku.buku.penulis_utama}},
                            {% else %}
                                {{rekap_buku.buku.penulis_utama_selain}},
                            {% endif %}
                            {% for penulis in rekap_buku.buku.penulis_lain.all %}
                                {% if penulis == penuliss %}
                                    <strong>{{penulis}}</strong>,
                                {% elif penulis != penuliss%}
                                    {{penulis}}
                                {% endif %}
                            {% endfor %}
                            {% for penulis_lain in rekap_buku.buku.penulis_selain.all %}
                                {{penulis_lain}},
                            {% endfor %}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width: 20%;">Identitas Jurnal Ilmiah</td>
                            <td style="width: 2%;">:</td>
                            <td style="width: 2%;">a. </td>
                            <td style="width: 20%;">ISBN</td>
                            <td style="width: 2%;">:</td>
                            <td style="width: 54%;"> {{rekap_buku.buku.nomor_isbn}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>b. </td>
                            <td>Edisi</td>
                            <td>:</td>
                            <td>{{rekap_buku.buku.edisi}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>c. </td>
                            <td>Tahun Terbit</td>
                            <td>:</td>
                            <td>{{rekap_buku.buku.tahun_terbit}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>d. </td>
                            <td>Penerbit</td>
                            <td>:</td>
                            <td>{{rekap_buku.buku.penerbit}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>e. </td>
                            <td>Jumlah Halaman</td>
                            <td>:</td>
                            <td>{{rekap_buku.buku.jumlah_halaman}}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width: 40%;" rowspan="3">Kategori Publikasi Jurnal Ilmiah beri √ pada kategori yang tepat)</td>
                            <td class="checkbox" style="width: 5%;">
                                {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="width: 55%; padding: 2px 0 0 2px;">Buku Referensi</td>                    
                        </tr>
                        <tr>
                            <td class="checkbox">
                                {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Buku Monograf</td>
                        </tr>
                        <tr>
                            <td class="checkbox">
                                {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Book Chapter Internasional</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="checkbox">
                                {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Book Chapter Nasional</td>
                        </tr>
                    </table>
                    <p>Hasil Penilaian Peer Review :</p>
                    <table style="border-collapse: collapse;">
                        <tr class="bordernilai">
                            <td style="text-align: center;">Komponen Yang Dinilai</td>
                            <td style="text-align: center;" colspan="4">Nilai Maksimal Jurnal Ilmiah (isikan di kolom yang sesuai)</td>
                            <td style="text-align: center;">Nilai Akhir Yang Diperoleh</td>
                        </tr>
                        <tr class="bordernilai">
                            <td style="width: 25%;"></td>
                            <td style="text-align: center; width: 15%">Buku Referensi</td>
                            <td style="text-align: center; width: 15%">Buku Monograf</td>
                            <td style="text-align: center; width: 15%">Book Chapter Internasional</td>
                            <td style="text-align: center; width: 15%">Book Chapter Nasional</td>
                            <td style="text-align: center; width: 15%;"></td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kelengkapan dan Kesesuaian isi Jurnal(10%)</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">4</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">2</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">1.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">1</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.unsur_isi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Ruang lingkup dan kedalaman pembahasan(30%)</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.pembahasan}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kecukupan dan kemutahiran data/iformasi dan metodologi(30%)</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.informasi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kelengkapan unsur dan kualitas penerbit(30%)</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.kualitas_penerbit}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Total</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">40</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">20</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">15</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">10</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.total}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kotribusi Pengusul (Penulis Pertama/Anggota Utama)</td>
                            <td colspan="4">Penulis Anggota dari {{rekap_buku.buku.jmlh_penulis}} penulis 20% x ({{rekap_buku.total}}/{{rekap_buku.jmlh_penulis_lain}})</td>
                            <td>{{rekap_buku.nilai_pl|floatformat}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td colspan="6">KOMENTAR/ULASAN PEER REVIEW</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kelengkapan dan Kesesuaian Unsur</td>
                            <td colspan="5">{{rekap_buku.cmnt_unsur_isi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Ruang Lingkup dan Kedalaman Pembahasan</td>
                            <td colspan="5">{{rekap_buku.cmnt_pembahasan}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kecukupan & Kemutakhiran Data & Metodologi</td>
                            <td colspan="5">{{rekap_buku.cmnt_informasi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kelengkapan Unsur & Kualitas Penerbit</td>
                            <td colspan="5">{{rekap_buku.cmnt_kualitas_penerbit}}</td>
                        </tr>
                    </table>
                    <table style="margin-top: 10px;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">Jatinangor, {{rekap_buku.created|date}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Reviewer</td>
                        </tr>
                    </table>
                    {% if rekap_buku.buku.reviewer.ttd %}
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">
                                <img style="width: 100px; position: absolute;" src="{{rekap_buku.buku.reviewer.ttd.path}}" alt="">
                                <!-- <div style="position: relative; top: 10px;">{{rekap_buku.buku.reviewer}}</div> -->
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">{{rekap_buku.buku.reviewer}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>NIP. {{rekap_buku.buku.reviewer.nip}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p class="spacing-kecil">
                                    <small class="sp">Unit Kerja: {{rekap_buku.buku.reviewer.unit_kerja}}</small> <br>
                                    <small class="sp">Bidang Ilmu: {{rekap_buku.buku.reviewer.bidang_ilmu}}</small> <br>
                                    <small class="sp">Jabatan/Pangkat: {{rekap_buku.buku.reviewer.jabatan_pangkat}}</small>
                                </p>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <table style="margin-top: 1.5cm; width: 100%;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;"></td>
                        </tr>
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">{{rekap_buku.buku.reviewer}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>NIP. {{rekap_buku.buku.reviewer.nip}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p class="spacing-kecil">
                                    <small class="sp">Unit Kerja: {{rekap_buku.buku.reviewer.unit_kerja}}</small> <br>
                                    <small class="sp">Bidang Ilmu: {{rekap_buku.buku.reviewer.bidang_ilmu}}</small> <br>
                                    <small class="sp">Jabatan/Pangkat: {{rekap_buku.buku.reviewer.jabatan_pangkat}}</small>
                                </p>
                            </td>
                        </tr>
                    </table>
                {% endif %}
                </div>
                <!-- End of PL -->
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if usrlogin.id == rekap_buku.buku.penulis_utama.users.id %}
        <table style="width: 100%;" class="judul">
            <tr>
                <th style="text-align: right;">Lampiran 6</th>
            </tr>
            <tr>
                <th style="text-align: center;">LEMBAR</th>
            </tr>
            <tr>
                <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
            </tr>
            <tr>
                <th style="text-align: center;">KARYA ILMIAH : BUKU</th>
            </tr>
        </table>
        <div class="paragraf">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 20%;">Judul Artikel Ilmiah</td>
                    <td style="width: 2%">: </td>
                    <td style="width: 78%;">{{rekap_buku.buku.judul}}</td>
                </tr>
                <tr>
                    <td>Penulis Artikel Ilmiah</td>
                    <td>:</td>
                    <td>
                    {% if rekap_buku.buku.penulis_utama != None %}
                        <strong>{{rekap_buku.buku.penulis_utama}}</strong>,
                    {% else %}
                        {{rekap_buku.buku.penulis_utama_selain}},
                    {% endif %}
                    {% for penulis in rekap_buku.buku.penulis_lain.all %}
                        {{penulis}},
                    {% endfor %}
                    {% for penulis_lain in rekap_buku.buku.penulis_selain.all %}
                        {{penulis_lain}},
                    {% endfor %}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style="width: 20%;">Identitas Jurnal Ilmiah</td>
                    <td style="width: 2%;">:</td>
                    <td style="width: 2%;">a. </td>
                    <td style="width: 20%;">ISBN</td>
                    <td style="width: 2%;">:</td>
                    <td style="width: 54%;"> {{rekap_buku.buku.nomor_isbn}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>b. </td>
                    <td>Edisi</td>
                    <td>:</td>
                    <td>{{rekap_buku.buku.edisi}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>c. </td>
                    <td>Tahun Terbit</td>
                    <td>:</td>
                    <td>{{rekap_buku.buku.tahun_terbit}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>d. </td>
                    <td>Penerbit</td>
                    <td>:</td>
                    <td>{{rekap_buku.buku.penerbit}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>e. </td>
                    <td>Jumlah Halaman</td>
                    <td>:</td>
                    <td>{{rekap_buku.buku.jumlah_halaman}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style="width: 40%;" rowspan="3">Kategori Publikasi Jurnal Ilmiah beri √ pada kategori yang tepat)</td>
                    <td class="checkbox" style="width: 5%;">
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                            V
                        {% endif %}
                    </td>
                    <td style="width: 55%; padding: 2px 0 0 2px;">Buku Referensi</td>                    
                </tr>
                <tr>
                    <td class="checkbox">
                        {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                            V
                        {% endif %}
                    </td>
                    <td style="padding: 2px 0 0 2px;">Buku Monograf</td>
                </tr>
                <tr>
                    <td class="checkbox">
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                            V
                        {% endif %}
                    </td>
                    <td style="padding: 2px 0 0 2px;">Book Chapter Internasional</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="checkbox">
                        {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                            V
                        {% endif %}
                    </td>
                    <td style="padding: 2px 0 0 2px;">Book Chapter Nasional</td>
                </tr>
            </table>
            <p>Hasil Penilaian Peer Review :</p>
            <table style="border-collapse: collapse;">
                <tr class="bordernilai">
                    <td style="text-align: center;">Komponen Yang Dinilai</td>
                    <td style="text-align: center;" colspan="4">Nilai Maksimal Jurnal Ilmiah (isikan di kolom yang sesuai)</td>
                    <td style="text-align: center;">Nilai Akhir Yang Diperoleh</td>
                </tr>
                <tr class="bordernilai">
                    <td style="width: 25%;"></td>
                    <td style="text-align: center; width: 15%">Buku Referensi</td>
                    <td style="text-align: center; width: 15%">Buku Monograf</td>
                    <td style="text-align: center; width: 15%">Book Chapter Internasional</td>
                    <td style="text-align: center; width: 15%">Book Chapter Nasional</td>
                    <td style="text-align: center; width: 15%;"></td>
                </tr>
                <tr class="bordernilai">
                    <td>Kelengkapan dan Kesesuaian isi Jurnal(10%)</td>
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                        <td style="text-align: center; width: 15%">4</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                        <td style="text-align: center; width: 15%">2</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                        <td style="text-align: center; width: 15%">1.5</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                        <td style="text-align: center; width: 15%">1</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    <td style="text-align: center; width: 15%;">{{rekap_buku.unsur_isi}}</td>
                </tr>
                <tr class="bordernilai">
                    <td>Ruang lingkup dan kedalaman pembahasan(30%)</td>
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                        <td style="text-align: center; width: 15%">12</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                        <td style="text-align: center; width: 15%">6</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                        <td style="text-align: center; width: 15%">4.5</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                        <td style="text-align: center; width: 15%">3</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    <td style="text-align: center; width: 15%;">{{rekap_buku.pembahasan}}</td>
                </tr>
                <tr class="bordernilai">
                    <td>Kecukupan dan kemutahiran data/iformasi dan metodologi(30%)</td>
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                        <td style="text-align: center; width: 15%">12</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                        <td style="text-align: center; width: 15%">6</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                        <td style="text-align: center; width: 15%">4.5</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                        <td style="text-align: center; width: 15%">3</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    <td style="text-align: center; width: 15%;">{{rekap_buku.informasi}}</td>
                </tr>
                <tr class="bordernilai">
                    <td>Kelengkapan unsur dan kualitas penerbit(30%)</td>
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                        <td style="text-align: center; width: 15%">12</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                        <td style="text-align: center; width: 15%">6</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                        <td style="text-align: center; width: 15%">4.5</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                        <td style="text-align: center; width: 15%">3</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    <td style="text-align: center; width: 15%;">{{rekap_buku.kualitas_penerbit}}</td>
                </tr>
                <tr class="bordernilai">
                    <td>Total</td>
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                        <td style="text-align: center; width: 15%">40</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                        <td style="text-align: center; width: 15%">20</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                        <td style="text-align: center; width: 15%">15</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                        <td style="text-align: center; width: 15%">10</td>
                    {% else %}
                        <td style="text-align: center; width: 15%"></td>
                    {% endif %}
                    <td style="text-align: center; width: 15%;">{{rekap_buku.total}}</td>
                </tr>
                <tr class="bordernilai">
                    <td>Kotribusi Pengusul (Penulis Pertama/Anggota Utama)</td>
                    <td colspan="4">Penulis Utama dari {{rekap_buku.buku.jmlh_penulis}} penulis 
                    {% if rekap_buku.buku.penulis_lain.exists %}
                        80%
                    {% elif rekap_buku.buku.penulis_lain.exists == False %}
                        100%
                    {% endif %}
                        x ({{rekap_buku.total}})</td>
                    <td>{{rekap_buku.nilai_pu|floatformat}}</td>
                </tr>
                <tr class="bordernilai">
                    <td colspan="6">KOMENTAR/ULASAN PEER REVIEW</td>
                </tr>
                <tr class="bordernilai">
                    <td class="bordernilai">Kelengkapan dan Kesesuaian Unsur</td>
                    <td colspan="5">{{rekap_buku.cmnt_unsur_isi}}</td>
                </tr>
                <tr class="bordernilai">
                    <td class="bordernilai">Ruang Lingkup dan Kedalaman Pembahasan</td>
                    <td colspan="5">{{rekap_buku.cmnt_pembahasan}}</td>
                </tr>
                <tr class="bordernilai">
                    <td class="bordernilai">Kecukupan & Kemutakhiran Data & Metodologi</td>
                    <td colspan="5">{{rekap_buku.cmnt_informasi}}</td>
                </tr>
                <tr class="bordernilai">
                    <td class="bordernilai">Kelengkapan Unsur & Kualitas Penerbit</td>
                    <td colspan="5">{{rekap_buku.cmnt_kualitas_penerbit}}</td>
                </tr>
            </table>
            <table style="margin-top: 10px;">
                <tr>
                    <td style="width: 72%;"></td>
                    <td style="width: 40%;">Jatinangor, {{rekap_buku.created|date}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Reviewer</td>
                </tr>
            </table>
            {% if rekap_buku.buku.reviewer.ttd %}
            <table style="width: 100%;">
                <tr>
                    <td style="width: 72%;"></td>
                    <td style="width: 40%;">
                        <img style="width: 100px; position: absolute;" src="{{rekap_buku.buku.reviewer.ttd.path}}" alt="">
                        <!-- <div style="position: relative; top: 10px;">{{rekap_buku.buku.reviewer}}</div> -->
                    </td>
                </tr>
                <tr>
                    <td style="width: 72%;"></td>
                    <td style="width: 40%;">{{rekap_buku.buku.reviewer}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>NIP. {{rekap_buku.buku.reviewer.nip}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p class="spacing-kecil">
                            <small class="sp">Unit Kerja: {{rekap_buku.buku.reviewer.unit_kerja}}</small> <br>
                            <small class="sp">Bidang Ilmu: {{rekap_buku.buku.reviewer.bidang_ilmu}}</small> <br>
                            <small class="sp">Jabatan/Pangkat: {{rekap_buku.buku.reviewer.jabatan_pangkat}}</small>
                        </p>
                    </td>
                </tr>
            </table>
        {% else %}
            <table style="margin-top: 1.5cm; width: 100%;">
                <tr>
                    <td style="width: 72%;"></td>
                    <td style="width: 40%;"></td>
                </tr>
                <tr>
                    <td style="width: 72%;"></td>
                    <td style="width: 40%;">{{rekap_buku.buku.reviewer}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>NIP. {{rekap_buku.buku.reviewer.nip}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p class="spacing-kecil">
                            <small class="sp">Unit Kerja: {{rekap_buku.buku.reviewer.unit_kerja}}</small> <br>
                            <small class="sp">Bidang Ilmu: {{rekap_buku.buku.reviewer.bidang_ilmu}}</small> <br>
                            <small class="sp">Jabatan/Pangkat: {{rekap_buku.buku.reviewer.jabatan_pangkat}}</small>
                        </p>
                    </td>
                </tr>
            </table>
        {% endif %}
        </div>
    {% elif rekap_buku.buku.penulis_lain.all.exists %}
        {% for penuliss in rekap_buku.buku.penulis_lain.all %}
            {% if usrlogin.id == penuliss.users.id %}
                <table style="width: 100%;" class="judul">
                    <tr>
                        <th style="text-align: right;">Lampiran 6</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">LEMBAR</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">KARYA ILMIAH : BUKU</th>
                    </tr>
                </table>
                <div class="paragraf">
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 20%;">Judul Artikel Ilmiah</td>
                            <td style="width: 2%">: </td>
                            <td style="width: 78%;">{{rekap_buku.buku.judul}}</td>
                        </tr>
                        <tr>
                            <td>Penulis Artikel Ilmiah</td>
                            <td>:</td>
                            <td>
                            {% if rekap_buku.buku.penulis_utama != None %}
                                {{rekap_buku.buku.penulis_utama}},
                            {% else %}
                                {{rekap_buku.buku.penulis_utama_selain}},
                            {% endif %}
                            {% for penulis in rekap_buku.buku.penulis_lain.all %}
                                {% if penulis == penuliss %}
                                    <strong>{{penulis}}</strong>,
                                {% elif penulis != penuliss%}
                                    {{penulis}}
                                {% endif %}
                            {% endfor %}
                            {% for penulis_lain in rekap_buku.buku.penulis_selain.all %}
                                {{penulis_lain}},
                            {% endfor %}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width: 20%;">Identitas Jurnal Ilmiah</td>
                            <td style="width: 2%;">:</td>
                            <td style="width: 2%;">a. </td>
                            <td style="width: 20%;">ISBN</td>
                            <td style="width: 2%;">:</td>
                            <td style="width: 54%;"> {{rekap_buku.buku.nomor_isbn}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>b. </td>
                            <td>Edisi</td>
                            <td>:</td>
                            <td>{{rekap_buku.buku.edisi}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>c. </td>
                            <td>Tahun Terbit</td>
                            <td>:</td>
                            <td>{{rekap_buku.buku.tahun_terbit}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>d. </td>
                            <td>Penerbit</td>
                            <td>:</td>
                            <td>{{rekap_buku.buku.penerbit}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>e. </td>
                            <td>Jumlah Halaman</td>
                            <td>:</td>
                            <td>{{rekap_buku.buku.jumlah_halaman}}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width: 40%;" rowspan="3">Kategori Publikasi Jurnal Ilmiah beri √ pada kategori yang tepat)</td>
                            <td class="checkbox" style="width: 5%;">
                                {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="width: 55%; padding: 2px 0 0 2px;">Buku Referensi</td>                    
                        </tr>
                        <tr>
                            <td class="checkbox">
                                {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Buku Monograf</td>
                        </tr>
                        <tr>
                            <td class="checkbox">
                                {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Book Chapter Internasional</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="checkbox">
                                {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                    V
                                {% endif %}
                            </td>
                            <td style="padding: 2px 0 0 2px;">Book Chapter Nasional</td>
                        </tr>
                    </table>
                    <p>Hasil Penilaian Peer Review :</p>
                    <table style="border-collapse: collapse;">
                        <tr class="bordernilai">
                            <td style="text-align: center;">Komponen Yang Dinilai</td>
                            <td style="text-align: center;" colspan="4">Nilai Maksimal Jurnal Ilmiah (isikan di kolom yang sesuai)</td>
                            <td style="text-align: center;">Nilai Akhir Yang Diperoleh</td>
                        </tr>
                        <tr class="bordernilai">
                            <td style="width: 25%;"></td>
                            <td style="text-align: center; width: 15%">Buku Referensi</td>
                            <td style="text-align: center; width: 15%">Buku Monograf</td>
                            <td style="text-align: center; width: 15%">Book Chapter Internasional</td>
                            <td style="text-align: center; width: 15%">Book Chapter Nasional</td>
                            <td style="text-align: center; width: 15%;"></td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kelengkapan dan Kesesuaian isi Jurnal(10%)</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">4</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">2</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">1.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">1</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.unsur_isi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Ruang lingkup dan kedalaman pembahasan(30%)</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.pembahasan}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kecukupan dan kemutahiran data/iformasi dan metodologi(30%)</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.informasi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kelengkapan unsur dan kualitas penerbit(30%)</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">12</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">6</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">4.5</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">3</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.kualitas_penerbit}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Total</td>
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Referensi' %}
                                <td style="text-align: center; width: 15%">40</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Buku Monograf' %}
                                <td style="text-align: center; width: 15%">20</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Internasional' %}
                                <td style="text-align: center; width: 15%">15</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            {% if rekap_buku.buku.kategori_publikasi == 'Book Chapter Nasional' %}
                                <td style="text-align: center; width: 15%">10</td>
                            {% else %}
                                <td style="text-align: center; width: 15%"></td>
                            {% endif %}
                            <td style="text-align: center; width: 15%;">{{rekap_buku.total}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td>Kotribusi Pengusul (Penulis Pertama/Anggota Utama)</td>
                            <td colspan="4">Penulis Anggota dari {{rekap_buku.buku.jmlh_penulis}} penulis 20% x ({{rekap_buku.total}}/{{rekap_buku.jmlh_penulis_lain}})</td>
                            <td>{{rekap_buku.nilai_pl|floatformat}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td colspan="6">KOMENTAR/ULASAN PEER REVIEW</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kelengkapan dan Kesesuaian Unsur</td>
                            <td colspan="5">{{rekap_buku.cmnt_unsur_isi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Ruang Lingkup dan Kedalaman Pembahasan</td>
                            <td colspan="5">{{rekap_buku.cmnt_pembahasan}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kecukupan & Kemutakhiran Data & Metodologi</td>
                            <td colspan="5">{{rekap_buku.cmnt_informasi}}</td>
                        </tr>
                        <tr class="bordernilai">
                            <td class="bordernilai">Kelengkapan Unsur & Kualitas Penerbit</td>
                            <td colspan="5">{{rekap_buku.cmnt_kualitas_penerbit}}</td>
                        </tr>
                    </table>
                    <table style="margin-top: 10px;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">Jatinangor, {{rekap_buku.created|date}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Reviewer</td>
                        </tr>
                    </table>
                    {% if rekap_buku.buku.reviewer.ttd %}
                    <table style="width: 100%;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">
                                <img style="width: 100px; position: absolute;" src="{{rekap_buku.buku.reviewer.ttd.path}}" alt="">
                                <!-- <div style="position: relative; top: 10px;">{{rekap_buku.buku.reviewer}}</div> -->
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">{{rekap_buku.buku.reviewer}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>NIP. {{rekap_buku.buku.reviewer.nip}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p class="spacing-kecil">
                                    <small class="sp">Unit Kerja: {{rekap_buku.buku.reviewer.unit_kerja}}</small> <br>
                                    <small class="sp">Bidang Ilmu: {{rekap_buku.buku.reviewer.bidang_ilmu}}</small> <br>
                                    <small class="sp">Jabatan/Pangkat: {{rekap_buku.buku.reviewer.jabatan_pangkat}}</small>
                                </p>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <table style="margin-top: 1.5cm; width: 100%;">
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;"></td>
                        </tr>
                        <tr>
                            <td style="width: 72%;"></td>
                            <td style="width: 40%;">{{rekap_buku.buku.reviewer}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>NIP. {{rekap_buku.buku.reviewer.nip}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p class="spacing-kecil">
                                    <small class="sp">Unit Kerja: {{rekap_buku.buku.reviewer.unit_kerja}}</small> <br>
                                    <small class="sp">Bidang Ilmu: {{rekap_buku.buku.reviewer.bidang_ilmu}}</small> <br>
                                    <small class="sp">Jabatan/Pangkat: {{rekap_buku.buku.reviewer.jabatan_pangkat}}</small>
                                </p>
                            </td>
                        </tr>
                    </table>
                {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
        
</body>
</html>