<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=x, initial-scale=1.0">
    <title>Document</title>
    <style>
        .judul {
            font-family: "Times New Roman", Times, serif;
            font-size: 16.3 px;
            font-weight: bolder;
        }
        .paragraf {
            font-family: "Times New Roman", Times, serif;
            font-size: 16.3 px;
        }
        .tableid {
            border: none;
            margin-left: 107;
            margin-top: 64;
        }
        tr {
            margin-bottom: 50;
        }
        p {
            margin-left: 107;
            margin-top: 64;
        }
        .bordernilai {
            border-collapse: collapse;
            border: 1px solid black;
        }
        table {
            margin-left: 107;
            margin-top: 64;
        }
    </style>
</head>
<body>
   
    <div class="paragraf">
        <table class="tableid">
            <tr>
                <td>Judul Jurnal</td>
                <td>:</td>
                <td>Aci Kasep</td>
            </tr>
            <tr>
                <td>Jumlah Penulis</td>
                <td>:</td>
                <td>7 Orang</td>
            </tr>
            <tr>
                <td>Nama Pengusul</td>
                <td>:</td>
                <td>Aci Kasep</td>
            </tr>
            <tr>
                <td>Status Pengusul</td>
                <td>:</td>
                <td>Kasep Pisan</td>
            </tr>
        </table>
        <table class="tableid">
            <tr>
                <td>Identitas Jurnal Ilmiah</td>
                <td>a. Nama Jurnal</td>
                <td>:</td>
                <td>aejgnkawfnkawf</td>
            </tr>
            <tr>
                <td></td>
                <td>b. Nomor ISSN</td>
                <td>:</td>
                <td>aejgnkawfnkawf</td>
            </tr>
            <tr>
                <td></td>
                <td>c. Volume, Nomor, Bulan, Tahun</td>
                <td>:</td>
                <td>aejgnkawfnkawf</td>
            </tr>
            <tr>
                <td></td>
                <td>d. Penerbit</td>
                <td>:</td>
                <td>aejgnkawfnkawf</td>
            </tr>
            <tr>
                <td></td>
                <td>e. DOI Artikel</td>
                <td>:</td>
                <td>aejgnkawfnkawf</td>
            </tr>
            <tr>
                <td></td>
                <td>f. Alamat Web Jurnal</td>
                <td>:</td>
                <td>aejgnkawfnkawf</td>
            </tr>
            <tr>
                <td></td>
                <td>g. Terindek di Scimagor dan Scopus</td>
                <td>:</td>
                <td>aejgnkawfnkawf</td>
            </tr>
            <tr>
                <td></td>
                <td>h. Kategori Publikasi</td>
                <td>:</td>
                <td>aejgnkawfnkawf</td>
            </tr>
        </table>
        <p>Hasil Penilaian Peer Review :</p>
        <table style="border: 1px solid black">
            <tr>
                <th>Komponen Yang Dinilai</th>
                <th>Nilai Akhir</th>
            </tr>
            <tr>
                <td>Kelengkapan dan Kesesuaian unsur isi jurnal</td>
                <th>10</th>
            </tr>
            <tr>
                <td>Ruang lingkup dan kedalaman pembahasan</td>
                <th>10</th>
            </tr>
            <tr>
                <td>Kecukupan dan kemutakhiran data/informasi dan metodologi</td>
                <th>10</th>
            </tr>
            <tr>
                <td>Kelengkapan unsur dan kualitas penerbit</td>
                <th>10</th>
            </tr>
            <tr>
                <th>Total</th>
                <th>10</th>
            </tr>
            <tr>
                <th>Nilai yang didapatkan pengusul</th>
                <th>10</th>
            </tr>
        </table>
        <p>Komentar Review :</p>
        <table style="width: 50%">
            <tr>
                <th style="width: 25%">Komponen Yang Dinilai</th>
                <th style="width: 25%">Komentar</th>
            </tr>
            <tr>
                <td style="text-align: center">Kelengkapan dan Kesesuaian Jurnal</td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
                    posuere nulla, non ornare felis. Ut congue non massa id viverra. Fusce
                    feugiat sem a hendrerit feugiat. Vivamus a interdum felis. Vestibulum
                    viverra sodales urna, eu interdum lectus placerat vitae. Curabitur a nulla
                    eget massa porttitor vestibulum non ac tellus. Maecenas congue libero id
                    magna porta, vel facilisis tortor convallis. Fusce in dictum felis.
                    Vestibulum vitae molestie turpis. Vivamus sit amet eros aliquam, varius
                    justo nec, imperdiet urna. Vestibulum blandit pretium dapibus.
                </td>
            </tr>
            <tr>
                <td style="text-align: center">Ruang lingkup dan kedalaman pembahasan</td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
                    posuere nulla, non ornare felis. Ut congue non massa id viverra. Fusce
                    feugiat sem a hendrerit feugiat. Vivamus a interdum felis. Vestibulum
                    viverra sodales urna, eu interdum lectus placerat vitae. Curabitur a nulla
                    eget massa porttitor vestibulum non ac tellus. Maecenas congue libero id
                    magna porta, vel facilisis tortor convallis. Fusce in dictum felis.
                    Vestibulum vitae molestie turpis. Vivamus sit amet eros aliquam, varius
                    justo nec, imperdiet urna. Vestibulum blandit pretium dapibus.
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    Kecukupan dan kemutahiran data/informasi dan metodologi
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
                    posuere nulla, non ornare felis. Ut congue non massa id viverra. Fusce
                    feugiat sem a hendrerit feugiat. Vivamus a interdum felis. Vestibulum
                    viverra sodales urna, eu interdum lectus placerat vitae. Curabitur a nulla
                    eget massa porttitor vestibulum non ac tellus. Maecenas congue libero id
                    magna porta, vel facilisis tortor convallis. Fusce in dictum felis.
                    Vestibulum vitae molestie turpis. Vivamus sit amet eros aliquam, varius
                    justo nec, imperdiet urna. Vestibulum blandit pretium dapibus.
                </td>
            </tr>
            <tr>
                <td style="text-align: center">Kelengkapan unsur dan kualitas penerbit</td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
                    posuere nulla, non ornare felis. Ut congue non massa id viverra. Fusce
                    feugiat sem a hendrerit feugiat. Vivamus a interdum felis. Vestibulum
                    viverra sodales urna, eu interdum lectus placerat vitae. Curabitur a nulla
                    eget massa porttitor vestibulum non ac tellus. Maecenas congue libero id
                    magna porta, vel facilisis tortor convallis. Fusce in dictum felis.
                    Vestibulum vitae molestie turpis. Vivamus sit amet eros aliquam, varius
                    justo nec, imperdiet urna. Vestibulum blandit pretium dapibus.
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Jatinangor, 23 Agustus 2021</td>
            </tr>
            <tr>
                <td>Reviewer,</td>
            </tr>
        </table>
        <table>
            <tr>
                <th style="text-align: left">Reviewer</th>
            </tr>
            <tr>
                <td>NIP. 214219481208409124</td>
            </tr>
        </table>
    </div>
</body>
</html>