<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histori Pengajuan</title>
    {% include 'snippets/style.html' %}
</head>
<body>
  {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <br>
        <div class="section-title">
          <h2 class="text-white">Histori Pengajuan Prosiding</h2>
          <p class="text-white">Tabel pengajuan berkas prosiding</p>
        </div>
      </div>
      <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <li><a class="text-white" href="{% url 'penilaian:list_berkas_jurnal' %}">Jurnal</a></li>
        <li><a class="text-white" href="{% url 'penilaian:list_berkas_prosiding' %}">Prosiding</a></li>
        <li><a class="text-white" href="{% url 'penilaian:list_berkas_buku' %}">Buku</a></li>
        <li><a class="text-white" href="{% url 'penilaian:list_berkas_haki' %}">HaKI</a></li>
      </ul>
    </section><!-- End Portfolio Section -->
    <br>
    
    <div class="container">
      <div class="scrollmenu">
        <table class="table" data-aos="zoom-in">
          <thead>
            <tr>
              <th>Judul Artikel</th>
              <th>Corresponding Author</th>
              <th>Penulis Utama</th>
              <th>Detail</th>
              <th>Status</th>
              <th>Hasil Penilaian</th>
              {% for list in list_user %}
                {% if user == list.reviewer %}
                  <th>Reviewer</th>
                {% endif %}
              {% endfor %}
              {% if user.is_superuser %}
                <th>Reviewer</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for berkas in list_berkas_prosiding %}
              {% if user.id == berkas.corresponding_author.users.id or user.id == berkas.penulis_utama.users.id or user.is_superuser %}
                <tr>
                    <td>{{berkas.judul_artikel}}</td>
                    <td>
                    {% if berkas.corresponding_author != None %}
                      {{berkas.corresponding_author}}
                    {% elif berkas_corresponding_author_selain != None %}
                      {{berkas.corresponding_author_selain}}
                    {% else %}
                      {% if berkas.penulis_utama != None %}
                        {{berkas.penulis_utama}}
                      {% else %}
                        {{berkas.penulis_utama_selain}}
                      {% endif %}
                    {% endif %}
                      </td>
                    <td>{% if berkas.penulis_utama != None %}
                      {{berkas.penulis_utama}}
                    {% else %}
                      {{berkas.penulis_utama_selain}}
                    {% endif %}</td>
                    <td>
                        <a href="{% url 'penilaian:detail_berkas_prosiding' berkas.slug%}" class="btn btn-primary" target="_blank">Detail</a>
                    </td>
                    <td>
                      {% if berkas.is_verificated == True %}
                        <button disabled class="btn btn-success">Terverifikasi</button>
                      {% elif berkas.is_verificated == False%}
                        {% if user.is_superuser %}
                          <a href="{% url 'penilaian:verifikasi_berkas_prosiding' berkas.pk%}" class="btn btn-danger">Perlu Revisi</a>
                        {% else %}
                          <button disabled class="btn btn-danger">Perlu Revisi</button>
                        {% endif %}
                      {% else %}
                        {% if user.is_superuser %}
                          <a class="btn btn-warning" href="{% url 'penilaian:verifikasi_berkas_prosiding' berkas.pk%}">Verifikasi?</a>
                        {% else %}
                          <button disabled class="btn btn-secondary">Proses</button>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% for judul in list_berkas %}
                        {% if judul.prosiding.id == berkas.id %}
                          <a class="btn btn-primary" href="{% url 'penilaian:rekap_prosiding' berkas.slug %}">Download</a>
                        {% endif %}
                      {% endfor %}
                    </td>
                    {% for list in list_user %}
                      {% if user == list.reviewer %}
                        <td>{{berkas.reviewer}}</td>
                      {% endif %}
                    {% endfor %}
                    {% if user.is_superuser %}
                      <td>{{berkas.reviewer}}</td>
                    {% endif %}
                </tr>
              {% elif berkas.penulis_lain.exists %}
                {% for penulis in berkas.penulis_lain.all %}
                  {% if user.id == penulis.users.id %}
                    <tr>
                      <td>{{berkas.judul_artikel}}</td>
                      <td>
                      {% if berkas.corresponding_author != None %}
                        {{berkas.corresponding_author}}
                      {% elif berkas_corresponding_author_selain != None %}
                        {{berkas.corresponding_author_selain}}
                      {% else %}
                        {% if berkas.penulis_utama != None %}
                          {{berkas.penulis_utama}}
                        {% else %}
                          {{berkas.penulis_utama_selain}}
                        {% endif %}
                      {% endif %}
                        </td>
                      <td>{% if berkas.penulis_utama != None %}
                        {{berkas.penulis_utama}}
                      {% else %}
                        {{berkas.penulis_utama_selain}}
                      {% endif %}</td>
                      <td>
                          <a href="{% url 'penilaian:detail_berkas_prosiding' berkas.slug%}" class="btn btn-primary" target="_blank">Detail</a>
                      </td>
                      <td>
                        {% if berkas.is_verificated == True %}
                          <button disabled class="btn btn-success">Terverifikasi</button>
                        {% elif berkas.is_verificated == False%}
                          {% if user.is_superuser %}
                            <a href="{% url 'penilaian:verifikasi_berkas_prosiding' berkas.pk%}" class="btn btn-danger">Perlu Revisi</a>
                          {% else %}
                            <button disabled class="btn btn-danger">Perlu Revisi</button>
                          {% endif %}
                        {% else %}
                          {% if user.is_superuser %}
                            <a class="btn btn-warning" href="{% url 'penilaian:verifikasi_berkas_prosiding' berkas.pk%}">Verifikasi?</a>
                          {% else %}
                            <button disabled class="btn btn-secondary">Proses</button>
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>
                        {% for judul in list_berkas %}
                          {% if judul.prosiding.id == berkas.id %}
                            <a class="btn btn-primary" href="{% url 'penilaian:rekap_prosiding' berkas.slug %}">Download</a>
                          {% endif %}
                        {% endfor %}
                      </td>
                      {% for list in list_user %}
                        {% if user == list.reviewer %}
                          <td>{{berkas.reviewer}}</td>
                        {% endif %}
                      {% endfor %}
                      {% if user.is_superuser %}
                        <td>{{berkas.reviewer}}</td>
                      {% endif %}
                  </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </div>
    
      


    {% include 'snippets/script.html' %}
</body>
</html>