<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Pengajuan</title>
    {% include 'snippets/style.html' %}
</head>
<body>
  {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <br>
        <div class="section-title">
          <h2 class="text-white">Riwayat Pengajuan Prosiding</h2>
        </div>
      </div>
      <ul id="portfolio-flters" class="pilihan d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_jurnal' 1 %}">Jurnal</a></li>
        <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_prosiding' 1 %}">Prosiding</a></li>
        <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_buku' 1 %}">Buku</a></li>
        <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_haki' 1 %}">HaKI</a></li>
      </ul>
    </section><!-- End Portfolio Section -->
    <br>
    
    <div class="container" data-aos="zoom-in">
      <form class="d-flex justify-content-center form-inline" method="GET">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Cari Judul Artikel" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cari</button>
      </form>
      <div class="scrollmenu">
        <table class="table" data-aos="zoom-in">
          <thead>
            <tr>
              <th>Judul Artikel</th>
              <th>Penulis Utama</th>
              <th>Penulis Korespondensi</th>
              <th>Detail</th>
              <th>Status</th>
              <th>Cek Hasil Turnitin</th>
              <th>Hasil Penilaian</th>
            </tr>
          </thead>
          <tbody>
            {% for berkas in list_berkas_prosiding %}
              {% if user.id == berkas.corresponding_author.users.id or user.id == berkas.penulis_utama.users.id or user.is_superuser or user.id == 22 %}
                <tr>
                    <td style="width: 30%;">{{berkas.judul_artikel}}</td>
                    <td>{% if berkas.penulis_utama != None %}
                      {{berkas.penulis_utama}}
                    {% else %}
                      {{berkas.penulis_utama_selain}}
                    {% endif %}</td>
                    <td>
                    {% if berkas.corresponding_author != None %}
                      {{berkas.corresponding_author}}
                    {% elif berkas_corresponding_author_selain != None %}
                      {{berkas.corresponding_author_selain}}
                    {% else %}
                      {% if berkas.penulis_utama != None %}
                        {{berkas.penulis_utama}}
                      {% else %}
                        {{berkas.penulis_utama_selain}}
                      {% endif %}
                    {% endif %}
                      </td>
                    <td>
                        <a href="{% url 'penilaian:detail_berkas_prosiding' berkas.pk%}" class="btn btn-primary" target="_blank">Detail</a>
                    </td>
                    <td>
                      {% if berkas.is_verificated == True %}
                        <button disabled class="btn btn-success">Terverifikasi</button>
                      {% elif berkas.is_verificated == False%}
                        {% if user.is_superuser %}
                          <a href="{% url 'penilaian:verifikasi_berkas_prosiding' berkas.pk%}" class="btn btn-danger">Perlu Revisi</a>
                        {% else %}
                          <button disabled class="btn btn-danger">Perlu Revisi</button>
                        {% endif %}
                      {% else %}
                        {% if user.is_superuser %}
                          <a class="btn btn-warning" href="{% url 'penilaian:verifikasi_berkas_prosiding' berkas.pk%}">Verifikasi?</a>
                        {% else %}
                          <button disabled class="btn btn-secondary">Proses</button>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if berkas.tingkat_publikasi == 'Internasional' %}
                        {% if berkas.plagiasi != None %}
                          <a href="{{berkas.bukti_plagiasi.url}}" class="btn btn-primary" target="_blank">Bukti</a>
                        {% else %}
                          <a class="btn btn-warning" href="{% url 'penilaian:plagiasi_prosiding' berkas.pk %}">Belum Ada</a>
                        {% endif %}
                      {% else %}
                        <button disabled class="btn btn-secondary">Tidak Perlu</button>
                      {% endif %}
                    </td>
                    <td>
                      {% if berkas.is_verificated %}
                        <a class="btn btn-primary btn-sm" href="{% url 'penilaian:rekap_prosiding' berkas.slug %}" target="_blank">Reviewer 1</a>
                        <div class="spacing"></div>
                        <a class="btn btn-primary btn-sm" href="{% url 'penilaian:rekap_prosiding2' berkas.slug %}" target="_blank">Reviewer 2</a>
                        <div class="spacing"></div>
                        {% for list1 in list_berkas %}
                          {% for list2 in list_berkas_2 %}
                            {% if list1.prosiding.pk == list2.prosiding.pk and list1.prosiding.pk == berkas.pk %}
                              <a href="{% url 'penilaian:gabungan_prosiding' berkas.slug%}" class="btn btn-sm btn-primary" target="_blank">R1 dan R2</a>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      {% endif %}
                    </td>
                </tr>
              {% elif berkas.penulis_lain.exists %}
                {% for penulis in berkas.penulis_lain.all %}
                  {% if user.id == penulis.users.id %}
                    <tr>
                      <td style="width: 30%;">{{berkas.judul_artikel}}</td>
                      <td>{% if berkas.penulis_utama != None %}
                        {{berkas.penulis_utama}}
                      {% else %}
                        {{berkas.penulis_utama_selain}}
                      {% endif %}</td>
                      <td>
                      {% if berkas.corresponding_author != None %}
                        {{berkas.corresponding_author}}
                      {% elif berkas_corresponding_author_selain != None %}
                        {{berkas.corresponding_author_selain}}
                      {% else %}
                        {% if berkas.penulis_utama != None %}
                          {{berkas.penulis_utama}}
                        {% else %}
                          {{berkas.penulis_utama_selain}}
                        {% endif %}
                      {% endif %}
                        </td>
                      <td>
                          <a href="{% url 'penilaian:detail_berkas_prosiding' berkas.pk%}" class="btn btn-primary" target="_blank">Detail</a>
                      </td>
                      <td>
                        {% if berkas.is_verificated == True %}
                          <button disabled class="btn btn-success">Terverifikasi</button>
                        {% elif berkas.is_verificated == False%}
                          {% if user.is_superuser %}
                            <a href="{% url 'penilaian:verifikasi_berkas_prosiding' berkas.pk%}" class="btn btn-danger">Perlu Revisi</a>
                          {% else %}
                            <button disabled class="btn btn-danger">Perlu Revisi</button>
                          {% endif %}
                        {% else %}
                          {% if user.is_superuser %}
                            <a class="btn btn-warning" href="{% url 'penilaian:verifikasi_berkas_prosiding' berkas.pk%}">Verifikasi?</a>
                          {% else %}
                            <button disabled class="btn btn-secondary">Proses</button>
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>
                        {% if berkas.tingkat_publikasi == 'Internasional' %}
                          {% if berkas.plagiasi != None %}
                            <a href="{{berkas.bukti_plagiasi.url}}" class="btn btn-primary" target="_blank">Bukti</a>
                          {% else %}
                            <a class="btn btn-warning" href="{% url 'penilaian:plagiasi_prosiding' berkas.pk %}">Belum Ada</a>
                          {% endif %}
                        {% else %}
                          <button disabled class="btn btn-secondary">Tidak Perlu</button>
                        {% endif %}
                      </td>
                      <td>
                        {% if berkas.is_verificated %}
                          <a class="btn btn-primary btn-sm" href="{% url 'penilaian:rekap_prosiding' berkas.slug %}" target="_blank">Reviewer 1</a>
                          <div class="spacing"></div>
                          <a class="btn btn-primary btn-sm" href="{% url 'penilaian:rekap_prosiding2' berkas.slug %}" target="_blank">Reviewer 2</a>
                          <div class="spacing"></div>
                          {% for list1 in list_berkas %}
                            {% for list2 in list_berkas_2 %}
                              {% if list1.prosiding.pk == list2.prosiding.pk and list1.prosiding.pk == berkas.pk %}
                                <a href="{% url 'penilaian:gabungan_prosiding' berkas.slug%}" class="btn btn-sm btn-primary" target="_blank">R1 dan R2</a>
                              {% endif %}
                            {% endfor %}
                          {% endfor %}
                        {% endif %}
                      </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="pagination d-flex justify-content-center">
        {% if page_obj.has_previous %}
          <a href="{% url 'penilaian:list_berkas_prosiding' page_obj.previous_page_number %}">&laquo;</a>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <span class="active">
              {{i}}
            </span>
          {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
            <a href="{% url 'penilaian:list_berkas_prosiding' i %}">
              {{i}}
            </a>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a href="{% url 'penilaian:list_berkas_prosiding' page_obj.next_page_number %}">&raquo;</a>
        {% endif %}
      </div>
    </div>
    {% include 'snippets/script.html' %}
</body>
</html>