<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histori Pengajuan</title>
    {% include 'snippets/style.html' %}
</head>
<body>
  {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <br>
        <div class="section-title">
          <h2 class="text-white">Histori Pengajuan HaKI</h2>
          <p class="text-white">Tabel pengajuan berkas HaKI</p>
        </div>
      </div>
      <ul id="portfolio-flters" class="pilihan d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_jurnal' %}">Jurnal</a></li>
        <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_prosiding' %}">Prosiding</a></li>
        <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_buku' %}">Buku</a></li>
        <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_haki' %}">HaKI</a></li>
      </ul>
    </section><!-- End Portfolio Section -->
    <br>
    
    <div class="container">
      <div class="scrollmenu">
        <table class="table" data-aos="zoom-in">
          <thead>
            <tr>
              <th>Nama Berkas</th>
              <th>Pemegang Berkas Utama</th>
              <th>Detail</th>
              <th>Status</th>
              <th>Hasil Penilaian</th>
            </tr>
          </thead>
          <tbody>
            {% for berkas in list_berkas_haki %}
              {% if user.id == berkas.pemegang_berkas_utama.users.id or user.is_superuser %}
                <tr>
                    <td>{{berkas.judul}}</td>
                    <td>{{berkas.pemegang_berkas_utama}}</td>
                    <td>
                      <a href="{% url 'penilaian:detail_berkas_haki' berkas.pk%}" class="btn btn-primary" target="_blank">Detail</a>
                    </td>
                    <td>
                      {% if berkas.is_verificated == True %}
                        <button disabled class="btn btn-success">Terverifikasi</button>
                      {% elif berkas.is_verificated == False%}
                        {% if user.is_superuser %}
                          <a href="{% url 'penilaian:verifikasi_berkas_haki' berkas.pk%}" class="btn btn-danger">Perlu Revisi</a>
                        {% else %}
                          <button disabled class="btn btn-danger">Perlu Revisi</button>
                        {% endif %}
                      {% else %}
                        {% if user.is_superuser %}
                          <a class="btn btn-warning" href="{% url 'penilaian:verifikasi_berkas_haki' berkas.pk%}">Verifikasi?</a>
                        {% else %}
                          <button disabled class="btn btn-secondary">Proses</button>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if berkas.is_verificated %}
                      <a class="btn btn-primary btn-sm" href="{% url 'penilaian:rekap_haki' berkas.slug %}">Reviewer 1</a>
                      <div class="spacing"></div>
                      <a class="btn btn-primary btn-sm" href="{% url 'penilaian:rekap_haki2' berkas.slug %}">Reviewer 2</a>
                      {% endif %}
                    </td>
                </tr>
              {% elif berkas.penulis_lain.exists %}
                {% for penulis in berkas.penulis_lain.all %}
                  {% if penulis.users.id %}
                    <tr>
                      <td>{{berkas.judul}}</td>
                      <td>{{berkas.pemegang_berkas_utama}}</td>
                      <td>
                        <a href="{% url 'penilaian:detail_berkas_haki' berkas.pk%}" class="btn btn-primary" target="_blank">Detail</a>
                      </td>
                      <td>
                        {% if berkas.is_verificated == True %}
                          <button disabled class="btn btn-success">Terverifikasi</button>
                        {% elif berkas.is_verificated == False%}
                          {% if user.is_superuser %}
                            <a href="{% url 'penilaian:verifikasi_berkas_haki' berkas.pk%}" class="btn btn-danger">Perlu Revisi</a>
                          {% else %}
                            <button disabled class="btn btn-danger">Perlu Revisi</button>
                          {% endif %}
                        {% else %}
                          {% if user.is_superuser %}
                            <a class="btn btn-warning" href="{% url 'penilaian:verifikasi_berkas_haki' berkas.pk%}">Verifikasi?</a>
                          {% else %}
                            <button disabled class="btn btn-secondary">Proses</button>
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>
                        {% if berkas.is_verificated %}
                        <a class="btn btn-primary btn-sm" href="{% url 'penilaian:rekap_haki' berkas.slug %}">Reviewer 1</a>
                        <div class="spacing"></div>
                        <a class="btn btn-primary btn-sm" href="{% url 'penilaian:rekap_haki2' berkas.slug %}">Reviewer 2</a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %} 
          </tbody>
        </table>
      </div>
      
    </div>
    
      


    {% include 'snippets/script.html' %}
</body>
</html>