<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histori Pengajuan</title>
    {% include 'snippets/style.html' %}
</head>
<body>
  {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <br>
        <div class="section-title">
          <h2 class="text-white">Histori Pengajuan Jurnal</h2>
          <p class="text-white">Tabel pengajuan berkas jurnal</p>
        </div>
        <ul id="portfolio-flters" class="pilihan d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_jurnal' %}">Jurnal</a></li>
          <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_prosiding' %}">Prosiding</a></li>
          <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_buku' %}">Buku</a></li>
          <li><a class="pilihan text-white" href="{% url 'penilaian:list_berkas_haki' %}">HaKI</a></li>
        </ul>
      </div>
    </section><!-- End Portfolio Section -->
    <br>
    
    <div class="container">
      <div class="scrollmenu">
        <table class="table" data-aos="zoom-in">
          <thead>
            <tr>
              <th>Judul Artikel</th>
              <th>Corresponding Author</th>
              <th>Penulis Utama</th>
              <th>Detail</th>
              <th>Status</th>
              <th>Cek Hasil Turnitin</th>
              <th>Hasil Penilaian</th>
            </tr>
          </thead>
          <tbody>
            {% for berkas in list_berkas_jurnal %}
              {% if user.id == berkas.corresponding_author.users.id or user.id == berkas.penulis_utama.users.id or user.is_superuser %}
                <tr>
                    <td>{{berkas.judul_artikel}}</td>
                    <td>
                      {% if berkas.corresponding_author != None %}
                        {{berkas.corresponding_author}}
                      {% elif berkas_corresponding_author_selain != None %}
                        {{berkas.corresponding_author_selain}}
                      {% else %}
                        {% if berkas.penulis_utama != None %}
                          {{berkas.penulis_utama}}
                        {% else %}
                          {{berkas.penulis_utama_selain}}
                      {% endif %}
                    {% endif %}</td>
                    <td>{% if berkas.penulis_utama != None %}
                      {{berkas.penulis_utama}}
                    {% else %}
                      {{berkas.penulis_utama_selain}}
                    {% endif %}</td>
                    <td>
                        <a href="{% url 'penilaian:detail_berkas_jurnal' berkas.pk%}" class="btn btn-primary">Detail</a>
                    </td>
                    <td>
                      {% if berkas.is_verificated == True %}
                        <button disabled class="btn btn-success">Terverifikasi</button>
                      {% elif berkas.is_verificated == False%}
                        {% if user.is_superuser %}
                          <a href="{% url 'penilaian:verifikasi_berkas_jurnal' berkas.pk%}" class="btn btn-danger">Perlu Revisi</a>
                        {% else %}
                          <button disabled class="btn btn-danger">Perlu Revisi</button>
                        {% endif %}
                      {% else %}
                        {% if user.is_superuser %}
                          <a class="btn btn-warning" href="{% url 'penilaian:verifikasi_berkas_jurnal' berkas.pk%}">Verifikasi?</a>
                        {% else %}
                          <button disabled class="btn btn-secondary">Proses</button>
                        {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if berkas.plagiasi != None %}
                        <a href="{{berkas.bukti_plagiasi.url}}" class="btn btn-primary" target="_blank">Bukti</a>
                      {% else %}
                        {% if berkas.is_verificated %}
                          <a class="btn btn-warning" href="{% url 'penilaian:plagiasi' berkas.pk %}">Belum Ada</a>
                        {% else %}
                          <button disabled class="btn btn-secondary">Belum Verif</button>
                        {% endif %}
                          
                      {% endif %}
                    </td>
                    <td>
                      {% if berkas.is_verificated %}
                        <a class="btn btn-sm btn-primary" href="{% url 'penilaian:rekap_jurnal' berkas.slug %}" target="_blank">Reviewer 1</a>
                        <div class="spacing"></div>
                        <a class="btn btn-sm btn-primary" href="{% url 'penilaian:rekap_jurnal2' berkas.slug %}" target="_blank">Reviewer 2</a>
                      {% endif %}
                    </td>
                </tr>
              {% elif berkas.penulis_lain.exists %}
                {% for penulis in berkas.penulis_lain.all %}
                  {% if user.id == penulis.users.id %}
                    <tr>
                      <td>{{berkas.judul_artikel}}</td>
                      <td>
                        {% if berkas.corresponding_author != None %}
                          {{berkas.corresponding_author}}
                        {% elif berkas_corresponding_author_selain != None %}
                          {{berkas.corresponding_author_selain}}
                        {% else %}
                          {% if berkas.penulis_utama != None %}
                            {{berkas.penulis_utama}}
                          {% else %}
                            {{berkas.penulis_utama_selain}}
                        {% endif %}
                      {% endif %}</td>
                      <td>{% if berkas.penulis_utama != None %}
                        {{berkas.penulis_utama}}
                      {% else %}
                        {{berkas.penulis_utama_selain}}
                      {% endif %}</td>
                      <td>
                          <a href="{% url 'penilaian:detail_berkas_jurnal' berkas.pk%}" class="btn btn-primary">Detail</a>
                      </td>
                      <td>
                        {% if berkas.is_verificated == True %}
                          <button disabled class="btn btn-success">Terverifikasi</button>
                        {% elif berkas.is_verificated == False%}
                          {% if user.is_superuser %}
                            <a href="{% url 'penilaian:verifikasi_berkas_jurnal' berkas.pk%}" class="btn btn-danger">Perlu Revisi</a>
                          {% else %}
                            <button disabled class="btn btn-danger">Perlu Revisi</button>
                          {% endif %}
                        {% else %}
                          {% if user.is_superuser %}
                            <a class="btn btn-warning" href="{% url 'penilaian:verifikasi_berkas_jurnal' berkas.pk%}">Verifikasi?</a>
                          {% else %}
                            <button disabled class="btn btn-secondary">Proses</button>
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>
                        {% if berkas.plagiasi != None %}
                          <a href="{{berkas.bukti_plagiasi.url}}" class="btn btn-primary" target="_blank">Bukti</a>
                        {% else %}
                          <a class="btn btn-warning" href="{% url 'penilaian:plagiasi' berkas.pk %}">Belum Ada</a>
                        {% endif %}
                      </td>
                      <td>
                        {% if berkas.is_verificated %}
                          <a class="btn btn-sm btn-primary" href="{% url 'penilaian:rekap_jurnal' berkas.slug %}" target="_blank">Reviewer 1</a>
                          <div class="spacing"></div>
                          <a class="btn btn-sm btn-primary" href="{% url 'penilaian:rekap_jurnal2' berkas.slug %}" target="_blank">Reviewer 2</a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      
    </div>
    
      
    {% include 'snippets/script.html' %}
</body>
</html>