<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Status Penilaian</title>
    {% include 'snippets/style.html' %}
</head>
<body>
  {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <br>
        <div class="section-title">
          <h2 class="text-white">Daftar Status Penilaian Jurnal</h2>
          <p class="text-white">Daftar Jurnal yang Sudah dan Belum Dinilai</p>
        </div>
        <ul id="portfolio-flters" class="pilihan d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li><a class="pilihan text-white" href="{% url 'penilaian:list_penilaian_jurnal' 1 %}">Jurnal</a></li>
          <li><a class="pilihan text-white" href="{% url 'penilaian:list_penilaian_prosiding' 1 %}">Prosiding</a></li>
          <li><a class="pilihan text-white" href="{% url 'penilaian:list_penilaian_buku' 1 %}">Buku</a></li>
          <li><a class="pilihan text-white" href="{% url 'penilaian:list_penilaian_haki' 1 %}">HaKI</a></li>
        </ul>
      </div>
    </section><!-- End Portfolio Section -->
    <br>
    
    <div class="container" data-aos="zoom-in">
      <form class="d-flex justify-content-center form-inline" method="GET">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Cari Judul Artikel" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cari</button>
      </form>
      <div class="scrollmenu">
        <table class="table" data-aos="zoom-in">
          <thead>
            <tr>
              <th>Judul Artikel</th>
              <th>Reviewer</th>
              <th>Nilai/Edit</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for berkas in list_reviewer_jurnal %}
                {% if user.id == berkas.reviewer.reviewer.id %}
                    <tr>
                        <td style="width: 30%;"><a href="{% url 'penilaian:detail_berkas_jurnal' berkas.pk%}">{{berkas.judul_artikel}}</a></td>
                        {% if berkas.reviewer == None %}
                          <td>Belum Ada</td>
                        {% elif berkas.reviewer != None %}
                          <td>{{berkas.reviewer}}</td>
                        {% endif %}
                        <td>
                          {% if user.id == berkas.reviewer.reviewer.id %}
                            <a class="btn btn-primary" href="{% url 'penilaian:penilaian_jurnal' berkas.pk %}">Nilai</a>
                            {% for berkus in list_berkas %}
                              {% if berkas.id == berkus.jurnal.id %}
                                <a class="btn btn-warning" href="{% url 'penilaian:edit_penilaian_jurnal' berkas.slug %}">Edit</a>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        <td>
                          {% for berkus in list_berkas %}
                            {% if berkas.id == berkus.jurnal.id %}
                              <button disabled type="button" class="btn btn-success">Sudah Dinilai</button>
                            {% endif %}
                          {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if user.id == berkas.reviewer_2.reviewer.id %}
                    <tr>
                      <td style="width: 30%;"><a href="{% url 'penilaian:detail_berkas_jurnal' berkas.pk%}">{{berkas.judul_artikel}}</a></td>
                        {% if berkas.reviewer_2 == None %}
                          <td>Belum Ada</td>
                        {% elif berkas.reviewer_2 != None %}
                          <td>{{berkas.reviewer_2}}</td>
                        {% endif %}
                        <td>
                          {% if user.id == berkas.reviewer_2.reviewer.id %}
                            <a class="btn btn-primary" href="{% url 'penilaian:penilaian_jurnal2' berkas.pk %}">Nilai</a>
                            {% for berkus2 in list_berkas_2 %}
                              {% if berkas.id == berkus2.jurnal.id %}
                                <a class="btn btn-warning" href="{% url 'penilaian:edit_penilaian_jurnal2' berkas.slug %}">Edit</a>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        <td>
                          {% for berkus2 in list_berkas_2 %}
                            {% if berkas.id == berkus2.jurnal.id %}
                              <button disabled type="button" class="btn btn-success">Sudah Dinilai</button>
                            {% endif %}
                          {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                {% if user.is_superuser %}
                    <tr>
                      <td style="width: 30%;"><a href="{% url 'penilaian:detail_berkas_jurnal' berkas.pk%}">{{berkas.judul_artikel}}</a></td>
                        <td>
                          {% if berkas.reviewer == None %}
                            Belum Ada
                          {% elif berkas.reviewer != None %}
                            {{berkas.reviewer}}
                          {% endif %}
                          {% if berkas.reviewer_2 == None %}
                            <br> Belum Ada
                          {% elif berkas.reviewer_2 != None %}
                            <br> {{berkas.reviewer_2}}
                          {% endif %}
                        </td>
                        <td>
                          {% if user.is_superuser %}
                            {% if berkas.reviewer != None %}
                              <a class="btn btn-primary" href="{% url 'penilaian:penilaian_jurnal' berkas.pk %}">Nilai</a>
                              {% for berkus in list_berkas %}
                                {% if berkas.id == berkus.jurnal.id %}
                                  <a class="btn btn-warning" href="{% url 'penilaian:edit_penilaian_jurnal' berkas.slug %}">Edit<a>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                            <div class="spacing"></div>
                            {% if berkas.reviewer_2 != None %}
                              <a class="btn btn-primary" href="{% url 'penilaian:penilaian_jurnal2' berkas.pk %}">Nilai</a>
                              {% for berkus2 in list_berkas_2 %}
                                {% if berkas.id == berkus2.jurnal.id %}
                                  <a class="btn btn-warning" href="{% url 'penilaian:edit_penilaian_jurnal2' berkas.slug %}">Edit</a>
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          {% endif %}
                        <td>
                          {% for berkus in list_berkas %}
                            {% if berkas.id == berkus.jurnal.id %}
                              <button disabled class="btn btn-success">Sudah Dinilai (R1)</button>
                            {% endif %}
                          {% endfor %}
                          <div class="spacing"></div>
                          {% for berkus2 in list_berkas_2 %}
                            {% if berkas.id == berkus2.jurnal.id %}
                              <button disabled class="btn btn-success">Sudah Dinilai (R2)</button>
                            {% endif %}
                          {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="pagination d-flex justify-content-center">
        {% if page_obj.has_previous %}
          <a href="{% url 'penilaian:list_penilaian_jurnal' page_obj.previous_page_number %}">&laquo;</a>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <span class="active">
              {{i}}
            </span>
          {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
            <a href="{% url 'penilaian:list_penilaian_jurnal' i %}">
              {{i}}
            </a>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a href="{% url 'penilaian:list_penilaian_jurnal' page_obj.next_page_number %}">&raquo;</a>
        {% endif %}
      </div>
    </div>
    
      
    {% include 'snippets/script.html' %}
</body>
</html>