<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Buku</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2 class="text-white">Upload Berkas Buku</h2>
            <p class="text-white">Harap upload buku sesuai persyaratan</p>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container">
        <br>
        <a class="float-right btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#Upload" data-aos="zoom-in">Cek Status Karya Ilmiah</a>
        <br>
        <form method="POST" enctype="multipart/form-data" data-aos="zoom-in">
            {% csrf_token %}
            <br>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <p><label for="id_pengusul">Pengusul*:</label> {{form.pengusul}}</p>
            <p><label for="id_judul">Judul Buku *:</label> {{form.judul}}</p>
            <p><label for="id_jmlh_penulis">Jumlah Penulis *:</label> {{form.jmlh_penulis}}</p>
            <p><label for="id_nomor_isbn">Nomor ISBN *:</label> {{form.nomor_isbn}}</p>
            <p><label for="id_edisi">Edisi:</label> {{form.edisi}}</p>
            <p><label for="id_tahun_terbit">Tahun Terbit:</label> {{form.tahun_terbit}}</p>
            <p><label for="id_penerbit">Penerbit:</label> {{form.penerbit}}</p>
            <p><label for="id_jumlah_halaman">Jumlah Halaman:</label> {{form.jumlah_halaman}}</p>
            <p><label for="id_kategori_publikasi">Kategori Publikasi *:</label>
                {{form.kategori_publikasi}}
            </p>
            <p><label for="id_upload_buku">Upload Buku *:</label> {{form.upload_buku}}</p>
            <p><label for="id_penulis_utama">Penulis Utama *:</label>
                {{form.penulis_utama}}
            </p>
            <div class="add-pu">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>Penulis Utama Selain Dosen</small>
                <div></div>
            </div>
            <p class="pu-lain"><label for="id_penulis_utama_selain">Penulis Utama Selain Dosen:</label>
                {{form.penulis_utama_selain}}
            </p>
            <br>
            <p><label for="id_penulis_lain">Penulis lain:</label>
                {{form.penulis_lain}}
            </p>
            <div class="add-penulis">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>Penulis Lain Selain Dosen</small>
                <div></div>
            </div>
            <p class="penulis-lain"><label for="id_penulis_lain_selain">Penulis Lain Selain Dosen:</label>
                {{form.penulis_lain_selain}}
            </p>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
            <br>
            <br>
        </form>
    </div>

    {% include 'snippets/script.html' %}
    {% include 'snippets/modals.html' %}
</body>
</html>