<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Jurnal</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
              <h2 class="text-white">Upload Berkas</h2>
              <p class="text-white">Harap upload jurnal sesuai persyaratan</p>
            </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container">
        <form method="POST" enctype="multipart/form-data" data-aos="zoom-in">
            {% csrf_token %}
            <br>
            <p><label for="id_judul_artikel">Judul Artikel*:</label> <input type="text" name="judul_artikel" class="form-control" maxlength="255" required id="id_judul_artikel"></p>
            <p><label for="id_jmlh_penulis">Jumlah Penulis*:</label> <input type="text" name="jmlh_penulis" class="form-control" required id="id_jmlh_penulis"></p>
            <p><label for="id_nama_jurnal">Nama Jurnal*:</label> <input type="text" name="nama_jurnal" class="form-control" maxlength="255" required id="id_nama_jurnal"></p>
            <p><label for="id_nomor_issn">Nomor ISSN:</label> <input type="text" name="nomor_issn" class="form-control" maxlength="255" id="id_nomor_issn"></p>
            <p><label for="id_vol_no_bln_thn">Volume/No/Bulan/Tahun:</label> <input type="text" name="vol_no_bln_thn" class="form-control" maxlength="255" id="id_vol_no_bln_thn"></p>
            <p><label for="id_penerbit">Penerbit:</label> <input type="text" name="penerbit" class="form-control" maxlength="255" id="id_penerbit"></p>
            <p><label for="id_doi_artikel">DOI Artikel:</label> <input type="text" name="doi_artikel" class="form-control" maxlength="255" id="id_doi_artikel"></p>
            <p><label for="id_url_jurnal">Link Jurnal:</label> <input type="text" name="url_jurnal" class="form-control" maxlength="150" id="id_url_jurnal"></p>
            <p><label for="id_indeks_jurnal">Indeks Jurnal*:</label>
                {{form.indeks_jurnal}}
            </p>
            <p><label for="id_tingkat_jurnal">Tingkat Jurnal:</label> <input type="text" name="tingkat_jurnal" class="form-control" maxlength="100" id="id_tingkat_jurnal"></p>
            <p><label for="id_kategori_publikasi">Kategori Publikasi*:</label>
                {{form.kategori_publikasi}}
            </p>
            <p><label for="id_upload_jurnal">Upload Jurnal (isi)*:</label> <input type="file" name="upload_jurnal" required id="id_upload_jurnal"></p>
            <p><label for="id_upload_cover">Upload Jurnal (cover):</label> <input type="file" name="upload_cover" id="id_upload_cover"></p>
            <p><label for="id_penulis_utama">Penulis Utama*:</label>
                {{form.penulis_utama}}
            </p>
            <div class="add-pu">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>PU Selain Dosen</small>
                <div></div>
            </div>
            <p class="pu-lain"><label for="id_penulis_utama_selain">Penulis utama selain:</label>
                {{form.penulis_utama_selain}}
            </p>
            <p><label for="id_corresponding_author">Corresponding Author:</label>
                {{form.corresponding_author}}
                <small>Jika CA dan PU sama, maka kosongkan CA.</small>
            </p>
            <div class="add-ca">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>CA Selain Dosen</small>
                <div></div>
            </div>
            <p class="ca-lain"><label for="id_corresponding_author_selain">Corresponding author selain:</label>
                {{form.corresponding_author_selain}}
            </p>
            <p><label for="id_penulis_lain">Penulis lain:</label>
                {{form.penulis_lain}}
            </p>
            <div class="add-penulis">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>PL Selain Dosen</small>
                <div></div>
            </div>
            <p class="penulis-lain"><label for="id_penulis_selain">Penulis Selain Dosen:</label>
                {{form.penulis_selain}}
            </p>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
            <br>
        </form>
    </div>
    {% include 'snippets/script.html' %}
</body>
</html>