<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Berkas</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2 class="text-white">Upload Berkas HaKI</h2>
            <p class="text-white">Harap upload berkas sesuai persyaratan</p>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container">
        <br>
        <a class="float-right btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#Upload" data-aos="zoom-in">Cek Status Karya Ilmiah</a>
        <br>
        <form method="POST" enctype="multipart/form-data" data-aos="zoom-in">
            {% csrf_token %}
            <br>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <p><label for="id_pengusul">Pengusul*:</label> {{form.pengusul}}</p>
            <p><label for="id_judul">Nama Berkas*:</label> {{form.judul}}</p>
            <p><label for="id_jmlh_penulis">Jumlah Pemegang Berkas*:</label> {{form.jmlh_penulis}}</p>
            <p><label for="id_jenis_haki">Jenis HaKI*:</label> {{form.jenis_haki}}</p>
            <p><label for="id_nomor_paten">Nomor Paten:</label> {{form.nomor_paten}}</p>
            <p><label for="id_tanggal">Tanggal Berkas:</label> {{form.tanggal}}</p>
            <p><label for="id_penerbit">Nama Penerbit:</label> {{form.penerbit}}</p>
            <p><label for="id_status_paten">Status Paten:</label> {{form.status_paten}}</p>
            <p><label for="id_url_repository">Alamat Repository:</label> {{form.url_repository}}</p>
            <p><label for="id_kategori_publikasi">Kategori Publikasi*:</label>
                {{form.kategori_publikasi}}
            </p>
            <p><label for="id_upload_berkas">Upload Berkas*:</label> {{form.upload_berkas}}</p>
            <p><label for="id_pemegang_berkas_utama">Pemegang Berkas Utama*:</label>
                {{form.pemegang_berkas_utama}}
            </p>
            <div class="add-pu">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>Penulis Utama Selain Dosen</small>
                <div></div>
            </div>
            <p class="pu-lain"><label for="id_pemegang_berkas_utama_selain">Pemegang Berkas Utama Selain Dosen:</label>
                {{form.pemegang_berkas_utama_selain}}
            </p>
            <p><label for="id_penulis_lain">Pemegang Berkas Lain:</label>
                {{form.penulis_lain}}
            </p>
            <br>
            <div class="add-penulis">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>PL Selain Dosen</small>
                <div></div>
            </div>
            <p class="penulis-lain"><label for="id_pemegang_berkas_selain">Pemegang Berkas Selain Dosen:</label>
                {{form.pemegang_berkas_selain}}
            </p>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
            <br>
            <br>
        </form>
    </div>

    {% include 'snippets/script.html' %}
    {% include 'snippets/modals.html' %}
</body>
</html>