<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Jurnal</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2 class="text-white">Upload Berkas HaKI</h2>
            <p class="text-white">Harap upload berkas sesuai persyaratan</p>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container text-center">
        <form method="POST" enctype="multipart/form-data" data-aos="zoom-in">
            {% csrf_token %}
            <br>
            <p>
                <label for="{{form.pengusul.id_for_label}}">Pengusul:</label>
                <select name="{{form.pengusul.name}}" required id="{{form.pengusul.id_for_label}}">
                    <option value="{{user.id}}" selected>{{user.first_name}}</option>
                </select>
            </p>
            <p><label for="{{form.jmlh_penulis.id_for_label}}">Jumlah Pemegang Berkas:</label> <input type="number" name="{{form.jmlh_penulis.name}}" min="0" required id="{{form.jmlh_penulis.id_for_label}}"></p>
            <p><label for="{{form.jmlh_penulis_lain.id_for_label}}">Jumlah Pemegang Berkas Lain:</label> <input type="number" name="{{form.jmlh_penulis_lain.name}}" min="0" required id="{{form.jmlh_penulis_lain.id_for_label}}"></p>
            <p><label for="{{form.judul.id_for_label}}">Judul Berkas:</label> <input type="text" name="{{form.judul.name}}" maxlength="{{form.judul.max}}" required id="{{form.judul.id_for_label}}"></p>
            <p><label for="{{form.kategori_publikasi.id_for_label}}">Kategori Publikasi:</label> 
                <select name="{{form.kategori_publikasi.name}}" id="{{form.kategori_publikasi.id_for_label}}" required>
                    <option value="" selected>---------</option>
                    <option value="Internasional (sudah diimplementasikan di industri)">Internasional (sudah diimplementasikan di industri)</option>
                    <option value="Internasional">Internasional</option>
                    <option value="Nasional (sudah diimplementasikan di industri)">Nasional (sudah diimplementasikan di industri)</option>
                    <option value="Nasional">Nasional</option>
                    <option value="Nasional (paten dari Dirjen Kekayaan Intelektual)">Nasional (paten dari Dirjen Kekayaan Intelektual)</option>
                    <option value="Karya cipta bersertifikat Dirjen">Karya cipta bersertifikat Dirjen</option>
                    <option value="Karya cipta bahan ajar">Karya cipta bahan ajar</option>
              </select></p>
              <p><label for="{{form.upload_berkas.id_for_label}}">Upload Berkas:</label> <input type="file" name="{{form.upload_berkas.name}}" required id="{{form.upload_berkas.id_for_label}}"></p>
              <p>
                <label for="{{form.pemegang_berkas_utama.id_for_label}}">Penulis Utama:</label>
                <select name="{{form.pemegang_berkas_utama.name}}" required id="{{form.pemegang_berkas_utama.id_for_label}}" class="selectpicker border rounded mh" data-live-search="true">
                      <option value="" selected>---------</option>
                      {% for usr in list_user %}
                          <option value="{{usr.id}}">{{usr.first_name}}</option>
                      {% endfor %}
                  </select>
              </p>
              <p>
                <label for="{{form.penulis_lain.id_for_label}}">Penulis lain:</label>
                <select class="selectpicker border rounded mh" name="{{form.penulis_lain.name}}" id="{{form.penulis_lain.id_for_label}}" multiple data-live-search="true">
                    {% for usr in list_user %}
                        <option value="{{usr.id}}">{{usr.first_name}}</option>
                    {% endfor %}
                </select>
            </p>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
            <br>
            <br>
        </form>
    </div>

    {% include 'snippets/script.html' %}
</body>
</html>