<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Jurnal</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
              <h2 class="text-white">Upload Berkas Jurnal</h2>
              <p class="text-white">Harap upload jurnal sesuai persyaratan</p>
            </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container">
        <br>
        <a class="float-right btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#Upload" data-aos="zoom-in">Cek Status Karya Ilmiah</a>
        <br>
        <form method="POST" enctype="multipart/form-data" data-aos="zoom-in">
            {% csrf_token %}
            <br>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <p><label for="id_pengusul">Pengusul*:</label> {{form.pengusul}}</p>
            <p><label for="id_judul_artikel">Judul Artikel*:</label> {{form.judul_artikel}}</p>
            <p><label for="id_jmlh_penulis">Jumlah Penulis*:</label> {{form.jmlh_penulis}}</p>
            <p><label for="id_nama_jurnal">Nama Jurnal*:</label> {{form.nama_jurnal}}</p>
            <p><label for="id_nomor_issn">Nomor ISSN:</label> {{form.nomor_issn}}</p>
            <p><label for="id_vol_no_bln_thn">Volume/No/Bulan/Tahun:</label> {{form.vol_no_bln_thn}}</p>
            <p><label for="id_penerbit">Nama Penerbit:</label> {{form.penerbit}}</p>
            <p><label for="id_doi_artikel">DOI Artikel:</label> {{form.doi_artikel}}</p>
            <p><label for="id_url_jurnal">Link Jurnal:</label> {{form.url_jurnal}}</p>
            <p><label for="id_indeks_jurnal">Indeks Jurnal*:</label>
                {{form.indeks_jurnal}}
            </p>
            <p><label for="id_tingkat_jurnal">Tingkat Jurnal:</label> {{form.tingkat_jurnal}}</p>
            <p><label for="id_kategori_publikasi">Kategori Publikasi*:</label>
                {{form.kategori_publikasi}}
            </p>
            <p><label for="id_upload_jurnal">Upload Jurnal (isi)*:</label> {{form.upload_jurnal}}</p>
            <p><label for="id_upload_cover">Upload Jurnal (cover):</label> {{form.upload_cover}}</p>
            <p><label for="id_penulis_utama">Penulis Utama*:</label>
                {{form.penulis_utama}}
            </p>
            <div class="add-pu">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>Penulis Utama Selain Dosen</small>
            </div>
            <p class="pu-lain"><label for="id_penulis_utama_selain">Penulis Utama (selain Dosen):</label>
                {{form.penulis_utama_selain}}
            </p>
            <br>
            <p><label for="id_corresponding_author">Corresponding Author:</label>
                {{form.corresponding_author}}
                <small>Jika Corresponding Author dan Penulis Utama sama, silahkan kosongkan Corresponding Author.</small>
            </p>
            <div class="add-ca">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>Corresponding Author Selain Dosen</small>
                <div></div>
            </div>
            <p class="ca-lain"><label for="id_corresponding_author_selain">Corresponding Author (selain Dosen):</label>
                {{form.corresponding_author_selain}}
            </p>
            <br>
            <p><label for="id_penulis_lain">Penulis lain:</label>
                {{form.penulis_lain}}
            </p>
            <div class="add-penulis">
                <img style="width: 15px;" src="/assets/img/plus.jpeg" alt="">
                <small>Penulis Lain Selain Dosen</small>
                <div></div>
            </div>
            <p class="penulis-lain"><label for="id_penulis_selain">Penulis Selain Dosen:</label>
                {{form.penulis_selain}}
            </p>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
            <br>
        </form>
    </div>
    {% include 'snippets/script.html' %}
    {% include 'snippets/modals.html' %}
</body>
</html>