<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabel Dosen</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio penilaian">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2 class="text-white">Tabel Dosen Fisika Unpad</h2>
            <p class="text-white">Tabel untuk mencocokkan NIP dan nama dosen terkait.</p>
          </div>
        </div>
    </section>
    <div class="container d-flex justify-content-center">
        <div class="scrollmenu">
          <table class="table" data-aos="zoom-in">
            <thead>
                <tr>
                  <th>NIP</th>
                  <th>Nama Dosen</th>
                </tr>
            </thead>
                <tbody>
                  {% for usr in list_user %}
                    <tr>
                      <td>{{usr.users.username}}</td>
                      <td>{{usr}}</td>
                    </tr> 
                  {% endfor %}
                </tbody>
          </table>
        </div>
    </div>


    {% include 'snippets/script.html' %}
</body>
</html>