<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikasi Berkas</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2 class="text-white">Verifikasi Berkas</h2>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container">
        <form method="POST" enctype="multipart/form-data" data-aos="zoom-in">
            {% csrf_token %}
            <br>
            <p><label for="id_pengusul">Pengusul:</label> {{form.pengusul}}</p>
            <p><label for="id_judul_artikel">Judul Artikel:</label> {{form.judul_artikel}}</p>
            <p><label for="id_jmlh_penulis">Jumlah Penulis:</label> {{form.jmlh_penulis}}</p>
            <p><label for="id_nama_jurnal">Nama Jurnal:</label> {{form.nama_jurnal}}</p>
            <p><label for="id_nomor_issn">Nomor ISSN:</label> {{form.nomor_issn}}</p>
            <p><label for="id_vol_no_bln_thn">Volume/No/Bulan/Tahun:</label> {{form.vol_no_bln_thn}}</p>
            <p><label for="id_penerbit">Penerbit:</label> {{form.penerbit}}</p>
            <p><label for="id_doi_artikel">DOI Artikel:</label> {{form.doi_artikel}}</p>
            <p><label for="id_url_jurnal">Link Jurnal:</label> {{form.url_jurnal}}</p>
            <p><label for="id_indeks_jurnal">Indeks Jurnal:</label> {{form.indeks_jurnal}}</p>
            <p><label for="id_tingkat_jurnal">Tingkat Jurnal:</label> {{form.tingkat_jurnal}}</p>
            <p><label for="id_kategori_publikasi">Kategori Publikasi:</label> {{form.kategori_publikasi}}</p>
            <p><label for="id_upload_jurnal">Upload Jurnal:</label> {{form.upload_jurnal}} 
            {% if upload.upload_jurnal != '' %}
                Telah diupload: <a href="{{upload.upload_jurnal.url}}" target="_blank">{{upload.upload_jurnal.name}}</a>
            {% endif %}
              </p>
            <p><label for="id_upload_cover">Upload Jurnal (cover):</label> {{form.upload_cover}} 
              {% if upload.upload_cover != '' %}
                  Telah diupload: <a href="{{upload.upload_cover.url}}" target="_blank">{{upload.upload_cover.name}}</a>
              {% endif %}
              </p>
            <p><label for="id_penulis_utama">Penulis Utama:</label> {{form.penulis_utama}}</p>
            <p><label for="id_penulis_utama_selain">Penulis Utama (selain Dosen):</label> {{form.penulis_utama_selain}}</p>
            <p><label for="id_corresponding_author_selain">Corresponding Author (selain Dosen):</label> {{form.corresponding_author_selain}}</p>
            <p><label for="id_penulis_lain">Penulis lain:</label> {{form.penulis_lain}}</p>
            <p><label for="id_penulis_selain">Penulis Lain Selain Dosen:</label> {{form.penulis_selain}}</p>
            <p><label for="id_is_verificated">Sudah Terverifikasi:</label> {{form.is_verificated}}</p>
            <p><label for="id_reviewer">Reviewer:</label> {{form.reviewer}}</p>
            <p><label for="id_reviewer_2">Reviewer 2:</label> {{form.reviewer_2}}</p>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
            <br>
            <br>
        </form>
    </div>

    {% include 'snippets/script.html' %}
</body>
</html>