<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikasi Berkas</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2 class="text-white">Verifikasi Berkas</h2>
          </div>
        </div>
    </section><!-- End Portfolio Section -->
    <div class="container">
        <form method="POST" enctype="multipart/form-data" data-aos="zoom-in">
            {% csrf_token %}
            <br>
            {{form.as_p}}
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>
            <br>
            <br>
        </form>
    </div>

    {% include 'snippets/script.html' %}
</body>
</html>