<div class="modal fade" id="KetentuanJurnal" tabindex="-1" role="dialog" aria-labelledby="KetentuanJurnal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Kategori</th>
              <th scope="col">Nilai Maks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jurnal Ilmiah Internasional Bereputasi</td>
              <td>40</td>
            </tr>
            <tr>
              <td>Jurnal Ilmiah Internasional</td>
              <td>30</td>
            </tr>
            <tr>
              <td>Jurnal Ilmiah Nasional Terakreditasi (Peringkat 1&2)</td>
              <td>25</td>
            </tr>
            <tr>
              <td>Jurnal Ilmiah (B. Inggris) Nasional Terakreditasi (Peringkat 3&4)</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Jurnal Ilmiah Nasional Terakreditasi (Peringkat 3&4)</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Jurnal Ilmiah Nasional terindeks di DOAJ dll)</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Jurnal Ilmiah Nasional Tidak Terakreditasi</td>
              <td>10</td>
            </tr>
          </tbody>
        </table>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Jurnal -->

<div class="modal fade" id="KetentuanProsiding" tabindex="-1" role="dialog" aria-labelledby="KetentuanProsiding" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Kategori</th>
              <th scope="col">Tingkat</th>
              <th scope="col">Nilai Maks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="4">Presentasi Oral dan Dipublikasikan</td>
              <td>Internasional Terindeks Scimagor &amp; Scopus</td>
              <td>30</td>
            </tr>
            <tr>
              <td>Internasional Terindeks Scopus / IEEE</td>
              <td>25</td>
            </tr>
            <tr>
              <td>Internasional</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td>10</td>
            </tr>
            <tr>
              <td rowspan="2">Poster dan Dipublikasikan dalam Prosiding</td>
              <td>Internasional</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td>5</td>
            </tr>
            <tr>
              <td rowspan="2">Tidak Diseminarkan Namun Terpublikasi</td>
              <td>Internasional</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td>5</td>
            </tr>
            <tr>
              <td rowspan="2">Diseminarkan Namun Tidak Terpublikasi</td>
              <td>Internasional</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Terpublikasi dalam Koran/Majalah</td>
              <td>-</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Prosiding -->

<div class="modal fade" id="KetentuanBuku" tabindex="-1" role="dialog" aria-labelledby="KetentuanBuku" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Kategori</th>
              <th scope="col">Nilai Maks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Buku Referensi</td>
              <td>40</td>
            </tr>
            <tr>
              <td>Buku Monograf</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Book Chapter Internasional</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Book Chapter Nasional</td>
              <td>10</td>
            </tr>
          </tbody>
        </table>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Buku -->

<div class="modal fade" id="KetentuanHaki" tabindex="-1" role="dialog" aria-labelledby="KetentuanHaki" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Kategori</th>
              <th scope="col">Nilai Maks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Internasional (sudah diimplementasikan di industri)</td>
              <td>60</td>
            </tr>
            <tr>
              <td>Internasional</td>
              <td>50</td>
            </tr>
            <tr>
              <td>Nasional (sudah diimplementasikan di industri)</td>
              <td>40</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td>30</td>
            </tr>
            <tr>
              <td>Karya cipta bersertifikat Dirjen</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Karya cipta bahan ajar</td>
              <td>15</td>
            </tr>
          </tbody>
        </table>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Haki -->