<div class="modal fade bd-example-modal-lg" id="KetentuanJurnal" tabindex="-1" role="dialog" aria-labelledby="KetentuanJurnal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Kategori</th>
              <th scope="col">Kelengkapan dan Kesesuaian Unsur Isi Jurnal</th>
              <th scope="col">Ruang Lingkup dan Kedalaman Pembahasan</th>
              <th scope="col">Kemutahiran Data dan Metodologi</th>
              <th scope="col">Nilai Kelengkapan Unsur dan Kualitas Penerbit</th>
              <th scope="col">Nilai Maks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Internasional Bereputasi Berdampak</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">40</td>
            </tr>
            <tr>
              <td>Internasional Bereputasi</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">9</td>
              <td style="text-align: center;">9</td>
              <td style="text-align: center;">9</td>
              <td style="text-align: center;">30</td>
            </tr>
            <tr>
              <td>Internasional</td>
              <td style="text-align: center;">2.5</td>
              <td style="text-align: center;">7.5</td>
              <td style="text-align: center;">7.5</td>
              <td style="text-align: center;">7.5</td>
              <td style="text-align: center;">25</td>
            </tr>
            <tr>
              <td>Nasional Terakreditasi</td>
              <td style="text-align: center;">2</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">20</td>
            </tr>
            <tr>
              <td>Nasional Berbahasa PBB</td>
              <td style="text-align: center;">1.5</td>
              <td style="text-align: center;">4.5</td>
              <td style="text-align: center;">4.5</td>
              <td style="text-align: center;">4.5</td>
              <td style="text-align: center;">15</td>
            </tr>
            <tr>
              <td>Nasional Tidak Terakreditasi</td>
              <td style="text-align: center;">1</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">10</td>
            </tr>
            <tr>
              <td>Nasional terindeks di DOAJ dll</td>
              <td style="text-align: center;">1</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">10</td>
            </tr>
          </tbody>
        </table>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Jurnal -->

<div class="modal fade bd-example-modal-lg" id="KetentuanProsiding" tabindex="-1" role="dialog" aria-labelledby="KetentuanProsiding" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Kategori</th>
              <th scope="col">Tingkat</th>
              <th scope="col">Kelengkapan dan Kesesuaian Unsur Isi Jurnal</th>
              <th scope="col">Ruang Lingkup dan Kedalaman Pembahasan</th>
              <th scope="col">Kemutahiran Data dan Metodologi</th>
              <th scope="col">Nilai Kelengkapan Unsur dan Kualitas Penerbit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">Presentasi Oral dan Dipublikasikan</td>
              <td>Internasional</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">9</td>
              <td style="text-align: center;">9</td>
              <td style="text-align: center;">9</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td style="text-align: center;">1</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
            </tr>
            <tr>
              <td rowspan="2">Poster dan Dipublikasikan dalam Prosiding</td>
              <td>Internasional</td>
              <td style="text-align: center;">1</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td style="text-align: center;">0.5</td>
              <td style="text-align: center;">1.5</td>
              <td style="text-align: center;">1.5</td>
              <td style="text-align: center;">1.5</td>
            </tr>
            <tr>
              <td rowspan="2">Tidak Diseminarkan Namun Terpublikasi</td>
              <td>Internasional</td>
              <td style="text-align: center;">1</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td style="text-align: center;">0.5</td>
              <td style="text-align: center;">1.5</td>
              <td style="text-align: center;">1.5</td>
              <td style="text-align: center;">1.5</td>
            </tr>
            <tr>
              <td rowspan="2">Diseminarkan Namun Tidak Terpublikasi</td>
              <td>Internasional</td>
              <td style="text-align: center;">0.5</td>
              <td style="text-align: center;">1.5</td>
              <td style="text-align: center;">1.5</td>
              <td style="text-align: center;">1.5</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td style="text-align: center;">0.3</td>
              <td style="text-align: center;">0.9</td>
              <td style="text-align: center;">0.9</td>
              <td style="text-align: center;">0.9</td>
            </tr>
            <tr>
              <td>Terpublikasi dalam Koran/Majalah</td>
              <td>-</td>
              <td style="text-align: center;">0.1</td>
              <td style="text-align: center;">0.3</td>
              <td style="text-align: center;">0.3</td>
              <td style="text-align: center;">0.3</td>
            </tr>
          </tbody>
        </table>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Prosiding -->

<div class="modal fade bd-example-modal-lg" id="KetentuanBuku" tabindex="-1" role="dialog" aria-labelledby="KetentuanBuku" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Kategori</th>
              <th scope="col">Kelengkapan dan Kesesuaian Unsur Isi Jurnal</th>
              <th scope="col">Ruang Lingkup dan Kedalaman Pembahasan</th>
              <th scope="col">Kemutahiran Data dan Metodologi</th>
              <th scope="col">Nilai Kelengkapan Unsur dan Kualitas Penerbit</th>
              <th scope="col">Nilai Maks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Buku Referensi</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">40</td>
            </tr>
            <tr>
              <td>Buku Monograf</td>
              <td style="text-align: center;">2</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">20</td>
            </tr>
            <tr>
              <td>Book Chapter Internasional</td>
              <td style="text-align: center;">1.5</td>
              <td style="text-align: center;">4.5</td>
              <td style="text-align: center;">4.5</td>
              <td style="text-align: center;">4.5</td>
              <td style="text-align: center;">15</td>
            </tr>
            <tr>
              <td>Book Chapter Nasional</td>
              <td style="text-align: center;">1</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">10</td>
            </tr>
          </tbody>
        </table>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Buku -->

<div class="modal fade bd-example-modal-lg" id="KetentuanHaki" tabindex="-1" role="dialog" aria-labelledby="KetentuanHaki" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Kategori</th>
              <th scope="col">Kelengkapan dan Kesesuaian Unsur Isi Jurnal</th>
              <th scope="col">Ruang Lingkup dan Kedalaman Pembahasan</th>
              <th scope="col">Kemutahiran Data dan Metodologi</th>
              <th scope="col">Nilai Kelengkapan Unsur dan Kualitas Penerbit</th>
              <th scope="col">Nilai Maks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Internasional (sudah diimplementasikan di industri)</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">18</td>
              <td style="text-align: center;">18</td>
              <td style="text-align: center;">18</td>
              <td style="text-align: center;">60</td>
            </tr>
            <tr>
              <td>Internasional</td>
              <td style="text-align: center;">5</td>
              <td style="text-align: center;">15</td>
              <td style="text-align: center;">15</td>
              <td style="text-align: center;">15</td>
              <td style="text-align: center;">50</td>
            </tr>
            <tr>
              <td>Nasional (sudah diimplementasikan di industri)</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">40</td>
            </tr>
            <tr>
              <td>Nasional</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">9</td>
              <td style="text-align: center;">9</td>
              <td style="text-align: center;">9</td>
              <td style="text-align: center;">30</td>
            </tr>
            <tr>
              <td>Karya cipta bersertifikat Dirjen</td>
              <td style="text-align: center;">2</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">20</td>
            </tr>
            <tr>
              <td>Karya cipta bahan ajar</td>
              <td style="text-align: center;">1.5</td>
              <td style="text-align: center;">4.5</td>
              <td style="text-align: center;">4.5</td>
              <td style="text-align: center;">4.5</td>
              <td style="text-align: center;">15</td>
            </tr>
          </tbody>
        </table>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Haki -->