<div class="modal fade bd-example-modal-lg" id="KetentuanJurnal" tabindex="-1" role="dialog" aria-labelledby="KetentuanJurnal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Kategori</th>
                <th scope="col">Kelengkapan dan Kesesuaian Unsur Isi Jurnal</th>
                <th scope="col">Ruang Lingkup dan Kedalaman Pembahasan</th>
                <th scope="col">Kemutahiran Data dan Metodologi</th>
                <th scope="col">Nilai Kelengkapan Unsur dan Kualitas Penerbit</th>
                <th scope="col">Nilai Maks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Internasional Bereputasi Berdampak</td>
                <td style="text-align: center;">4</td>
                <td style="text-align: center;">12</td>
                <td style="text-align: center;">12</td>
                <td style="text-align: center;">12</td>
                <td style="text-align: center;">40</td>
              </tr>
              <tr>
                <td>Internasional Bereputasi</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">9</td>
                <td style="text-align: center;">9</td>
                <td style="text-align: center;">9</td>
                <td style="text-align: center;">30</td>
              </tr>
              <tr>
                <td>Internasional</td>
                <td style="text-align: center;">2.5</td>
                <td style="text-align: center;">7.5</td>
                <td style="text-align: center;">7.5</td>
                <td style="text-align: center;">7.5</td>
                <td style="text-align: center;">25</td>
              </tr>
              <tr>
                <td>Nasional Terakreditasi</td>
                <td style="text-align: center;">2</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">20</td>
              </tr>
              <tr>
                <td>Nasional Berbahasa PBB</td>
                <td style="text-align: center;">1.5</td>
                <td style="text-align: center;">4.5</td>
                <td style="text-align: center;">4.5</td>
                <td style="text-align: center;">4.5</td>
                <td style="text-align: center;">15</td>
              </tr>
              <tr>
                <td>Nasional Tidak Terakreditasi</td>
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">10</td>
              </tr>
              <tr>
                <td>Nasional terindeks di DOAJ dll</td>
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Jurnal -->

<div class="modal fade bd-example-modal-lg" id="KetentuanProsiding" tabindex="-1" role="dialog" aria-labelledby="KetentuanProsiding" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Kategori</th>
                <th scope="col">Tingkat</th>
                <th scope="col">Kelengkapan dan Kesesuaian Unsur Isi Jurnal</th>
                <th scope="col">Ruang Lingkup dan Kedalaman Pembahasan</th>
                <th scope="col">Kemutahiran Data dan Metodologi</th>
                <th scope="col">Nilai Kelengkapan Unsur dan Kualitas Penerbit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="2">Presentasi Oral dan Dipublikasikan</td>
                <td>Internasional</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">9</td>
                <td style="text-align: center;">9</td>
                <td style="text-align: center;">9</td>
              </tr>
              <tr>
                <td>Nasional</td>
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
              </tr>
              <tr>
                <td rowspan="2">Poster dan Dipublikasikan dalam Prosiding</td>
                <td>Internasional</td>
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
              </tr>
              <tr>
                <td>Nasional</td>
                <td style="text-align: center;">0.5</td>
                <td style="text-align: center;">1.5</td>
                <td style="text-align: center;">1.5</td>
                <td style="text-align: center;">1.5</td>
              </tr>
              <tr>
                <td rowspan="2">Tidak Diseminarkan Namun Terpublikasi</td>
                <td>Internasional</td>
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
              </tr>
              <tr>
                <td>Nasional</td>
                <td style="text-align: center;">0.5</td>
                <td style="text-align: center;">1.5</td>
                <td style="text-align: center;">1.5</td>
                <td style="text-align: center;">1.5</td>
              </tr>
              <tr>
                <td rowspan="2">Diseminarkan Namun Tidak Terpublikasi</td>
                <td>Internasional</td>
                <td style="text-align: center;">0.5</td>
                <td style="text-align: center;">1.5</td>
                <td style="text-align: center;">1.5</td>
                <td style="text-align: center;">1.5</td>
              </tr>
              <tr>
                <td>Nasional</td>
                <td style="text-align: center;">0.3</td>
                <td style="text-align: center;">0.9</td>
                <td style="text-align: center;">0.9</td>
                <td style="text-align: center;">0.9</td>
              </tr>
              <tr>
                <td>Terpublikasi dalam Koran/Majalah</td>
                <td>-</td>
                <td style="text-align: center;">0.1</td>
                <td style="text-align: center;">0.3</td>
                <td style="text-align: center;">0.3</td>
                <td style="text-align: center;">0.3</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Prosiding -->

<div class="modal fade bd-example-modal-lg" id="KetentuanBuku" tabindex="-1" role="dialog" aria-labelledby="KetentuanBuku" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Kategori</th>
                <th scope="col">Kelengkapan dan Kesesuaian Unsur Isi Jurnal</th>
                <th scope="col">Ruang Lingkup dan Kedalaman Pembahasan</th>
                <th scope="col">Kemutahiran Data dan Metodologi</th>
                <th scope="col">Nilai Kelengkapan Unsur dan Kualitas Penerbit</th>
                <th scope="col">Nilai Maks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Buku Referensi</td>
                <td style="text-align: center;">4</td>
                <td style="text-align: center;">12</td>
                <td style="text-align: center;">12</td>
                <td style="text-align: center;">12</td>
                <td style="text-align: center;">40</td>
              </tr>
              <tr>
                <td>Buku Monograf</td>
                <td style="text-align: center;">2</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">20</td>
              </tr>
              <tr>
                <td>Book Chapter Internasional</td>
                <td style="text-align: center;">1.5</td>
                <td style="text-align: center;">4.5</td>
                <td style="text-align: center;">4.5</td>
                <td style="text-align: center;">4.5</td>
                <td style="text-align: center;">15</td>
              </tr>
              <tr>
                <td>Book Chapter Nasional</td>
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">10</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Buku -->

<div class="modal fade bd-example-modal-lg" id="KetentuanHaki" tabindex="-1" role="dialog" aria-labelledby="KetentuanHaki" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Penilaian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Kategori</th>
                <th scope="col">Kelengkapan dan Kesesuaian Unsur Isi Jurnal</th>
                <th scope="col">Ruang Lingkup dan Kedalaman Pembahasan</th>
                <th scope="col">Kemutahiran Data dan Metodologi</th>
                <th scope="col">Nilai Kelengkapan Unsur dan Kualitas Penerbit</th>
                <th scope="col">Nilai Maks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Internasional (sudah diimplementasikan di industri)</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">18</td>
                <td style="text-align: center;">18</td>
                <td style="text-align: center;">18</td>
                <td style="text-align: center;">60</td>
              </tr>
              <tr>
                <td>Internasional</td>
                <td style="text-align: center;">5</td>
                <td style="text-align: center;">15</td>
                <td style="text-align: center;">15</td>
                <td style="text-align: center;">15</td>
                <td style="text-align: center;">50</td>
              </tr>
              <tr>
                <td>Nasional (sudah diimplementasikan di industri)</td>
                <td style="text-align: center;">4</td>
                <td style="text-align: center;">12</td>
                <td style="text-align: center;">12</td>
                <td style="text-align: center;">12</td>
                <td style="text-align: center;">40</td>
              </tr>
              <tr>
                <td>Nasional</td>
                <td style="text-align: center;">3</td>
                <td style="text-align: center;">9</td>
                <td style="text-align: center;">9</td>
                <td style="text-align: center;">9</td>
                <td style="text-align: center;">30</td>
              </tr>
              <tr>
                <td>Karya cipta bersertifikat Dirjen</td>
                <td style="text-align: center;">2</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">6</td>
                <td style="text-align: center;">20</td>
              </tr>
              <tr>
                <td>Karya cipta bahan ajar</td>
                <td style="text-align: center;">1.5</td>
                <td style="text-align: center;">4.5</td>
                <td style="text-align: center;">4.5</td>
                <td style="text-align: center;">4.5</td>
                <td style="text-align: center;">15</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Haki -->

<div class="modal fade bd-example-modal-lg" id="KomenUnsurIsiJurnal" tabindex="-1" role="dialog" aria-labelledby="KomenUnsurIsiJurnal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Unsur Isi Jurnal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Memenuhi kriteria jurnal nasional, atau nasional atau terakreditasi atau jurnal internasional</li>
              <li>Karya ilmiah ditulis dengan baik, sesuai struktur artikel/paper terstandar</li>
              <li>Penggunaan bahasa INA atau salah satu bahasa resmi PBB yang baik. Jangan dicampur antar bahasanya</li>
              <li>Semua acuan yang ada di pustaka di acu dalam batang tubuh karya ilmiah</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Unsur Isi -->

<div class="modal fade bd-example-modal-lg" id="KomenRuangLingkupJurnal" tabindex="-1" role="dialog" aria-labelledby="KomenRuangLingkupJurnal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Ruang Lingkup dan Kedalaman</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Menjelaskan apa yang diteliti</li>
              <li>Menjelaskan apa yang telah dilakukan dan dicapai oleh peneliti lain atau peneliti itu sendiri jika ada keterkaitan dengan penelitian sebelumnya</li>
              <li>Mengungkapkan kekurangan dari penelitian sebelumnya</li>
              <li>Menjelaskan hasil penelitian sebagai kontribusi keilmuan</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Ruang Lingkup dan Kedalaman -->

<div class="modal fade bd-example-modal-lg" id="KomenInformasiJurnal" tabindex="-1" role="dialog" aria-labelledby="KomenInformasiJurnal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Kemutahiran Data/Informasi dan Metodologi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Semua unsur struktur dipenuhi</li>
              <li>Daftar pustaka up to date</li>
              <li>Umumnya jumlah pustaka jurnal dan seminar lebih banyak dari buku</li>
              <li>Tidak mengulang apa yang sudah ditulis sebelumnya, cukup menjadi acuan saja</li>
              <li>Artikel harus membuktikan hasil penelitian dan kesimpulan yang dituliskan sudah sahih</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Informasi -->

<div class="modal fade bd-example-modal-lg" id="KomenPenerbitJurnal" tabindex="-1" role="dialog" aria-labelledby="KomenPenerbitJurnal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Unsur dan Kualitas Penerbit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Jurnal sesuai tampilan yang dibuat dengan format OJS-PKP</li>
              <li>Home, about, archive, current, ...</li>
              <li>Alamat fisik pengelola jurnal bisa dilacak, tidak cukup dengan menyatakan alamat laman saja</li>
              <li>Chef editor, editor adalah pakar di bidangnya dan dapat dilacak</li>
              <li>Jumlah artikel dalam terbitan wajar dan dalam satu nomor terbit tidak lebih dari 2 penulis yang sama</li>
              <li>Regularitas penerbitan sesuai dengan pernyataan jurnal</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Penerbit -->
<!-- End of Jurnal -->

<div class="modal fade bd-example-modal-lg" id="KomenUnsurIsiProsiding" tabindex="-1" role="dialog" aria-labelledby="KomenUnsurIsiProsiding" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Unsur Isi Prosiding</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Memenuhi kriteria jurnal atau prosiding dan seminar</li>
              <li>Karya ilmiah ditulis dengan baik, sesuai struktur artikel/paper berstandar ilmiah</li>
              <li>Penggunaan bahasa INA atau salah satu bahasa resmi PBB yang baik. Jangan dicampur antar bahasanya</li>
              <li>Semua acuan yang ada di pustaka di acu dalam batang tubuh karya ilmiah</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Unsur Isi -->

<div class="modal fade bd-example-modal-lg" id="KomenRuangLingkupProsiding" tabindex="-1" role="dialog" aria-labelledby="KomenRuangLingkupProsiding" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Ruang Lingkup dan Kedalaman</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Menjelaskan apa yang diteliti</li>
              <li>Menjelaskan apa yang telah dilakukan dan dicapai oleh peneliti lain atau peneliti itu sendiri jika ada keterkaitan dengan penelitian sebelumnya</li>
              <li>Mengungkapkan kekurangan dari penelitian sebelumnya</li>
              <li>Menjelaskan hasil penelitian sebagai kontribusi keilmuan</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Ruang Lingkup dan Kedalaman -->

<div class="modal fade bd-example-modal-lg" id="KomenInformasiProsiding" tabindex="-1" role="dialog" aria-labelledby="KomenInformasiProsiding" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Kemutahiran Data/Informasi dan Metodologi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Semua unsur struktur dipenuhi</li>
              <li>Daftar pustaka up to date</li>
              <li>Umumnya jumlah pustaka jurnal dan seminar lebih banyak dari buku</li>
              <li>Tidak mengulang apa yang sudah ditulis sebelumnya, cukup menjadi acuan saja</li>
              <li>Artikel harus membuktikan hasil penelitian dan kesimpulan yang dituliskan sudah sahih</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Informasi -->

<div class="modal fade bd-example-modal-lg" id="KomenPenerbitProsiding" tabindex="-1" role="dialog" aria-labelledby="KomenPenerbitProsiding" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Unsur dan Kualitas Penerbit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Memenuhi ketentuan konferensi/seminar</li>
              <li>Ada call for paper (umumnya diunggah satu tahun sebelum pelaksanaan konferensi)</li>
              <li>Mempunyai Scientific Committee, Technical Committee, dan pakar dibidangnya dan dapat dilacak asal institusinya</li>
              <li>Jadwal acara konferensi</li>
              <li>Mempunyai daftar isi prosiding seminar</li>
              <li>Steering committee adalah pakar di bidangnya dan dapat dilacak</li>
              <li>Jika prosiding seminar tidak dapat ditemui secara online, scan artikel, daftar isi, scientific committee dan unggah di lama repository perguruan tinggi</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Penerbit -->
<!-- End of Prosiding -->

<div class="modal fade bd-example-modal-lg" id="KomenUnsurIsiBuku" tabindex="-1" role="dialog" aria-labelledby="KomenUnsurIsiBuku" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Unsur Isi Buku</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Cover berisi judul, nama penulis</li>
              <li>Kata Pengantar</li>
              <li>Daftar Isi dan Daftar Gambar</li>
              <li>Pendahuluan</li>
              <li>Kajian Analisis dan Sintesis</li>
              <li>Diskusi</li>
              <li>Kesimpulan</li>
              <li>Daftar Pustaka</li>
              <li>Glosari</li>
              <li>Indeks</li>
              <li>Halaman Belakang: Riwayat Hidup Penulis</li>
              <li>Memiliki ISBN</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Unsur Isi -->

<div class="modal fade bd-example-modal-lg" id="KomenRuangLingkupBuku" tabindex="-1" role="dialog" aria-labelledby="KomenRuangLingkupBuku" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Ruang Lingkup dan Kedalaman</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Sesuai dengan bidang ilmu penulis</li>
              <li>Sesuai dengan sifat buku Monograph atau Referensi</li>
              <li>Pembahasan secara mendalam dan memberikan suatu pandangan yang baru</li>
              <li>Mampu meramu kembali tulisan yang ada dan tidak mengulang apa yang sudah ditulis</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Ruang Lingkup dan Kedalaman -->

<div class="modal fade bd-example-modal-lg" id="KomenInformasiBuku" tabindex="-1" role="dialog" aria-labelledby="KomenInformasiBuku" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Kemutahiran Data/Informasi dan Metodologi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Daftar Pustaka berasal dari buku, paper dan artikel yang relatif baru</li>
              <li>Semua bagian diuraikan dengan baik dan jelas</li>
              <li>Semua daftar referensi diacu dalam tulisan</li>
              <li>Buku Referensi atau Monograph bukan buku disertasi</li>
              <li>Tulisan berasal dari penelitian multi years</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Informasi -->

<div class="modal fade bd-example-modal-lg" id="KomenPenerbitBuku" tabindex="-1" role="dialog" aria-labelledby="KomenPenerbitBuku" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketentuan Komentar Unsur dan Kualitas Penerbit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Diterbitkan oleh penerbit yang dikenal dan mempunyai versi online</li>
              <li>Bukan fotocopy atau cetakan khusus untuk kenaikan jabatan</li>
              <li>Memenuhi ketentuan buku</li>
              <li>Sering terjadi dalam kata pengantar disebut buku Referensi atau Monograph sebagai buku ajar -> Keliru</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals Penerbit -->
<!-- End of Buku -->

<div class="modal fade bd-example-modal-lg" id="Upload" tabindex="-1" role="dialog" aria-labelledby="Upload" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cek Status Karya Ilmiah</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="scrollmenu">
          <div class="container">
            <ol>
              <li>Scopus (Indeksasi JI/JIB, List Journal): <a href="https://scopus.com">https://scopus.com</a></li>
              <li>SJR (Impact Factor Scopus): <a href="https://scimagojr.com">https://scimagojr.com</a></li>
              <li>Web of Science (WoS, Indeksasi JI/JIN selain ESCI): <a href="https://mjl.clarivate.com">https://mjl.clarivate.com</a></li>
              <li>SINTA (Science and Technology Index, Indeksasi Jurnal Nasional Terakreditasi): <a href="https://sinta.ristekbrin.go.id">https://sinta.ristekbrin.go.id</a></li>
              <li>Hak Kekayaan Intelektual (HKI, Pangkalan Data Kekayaan Intelektual PDKI): <a href="https://pdki-indonesia.dgip.go.id">https://pdki-indonesia.dgip.go.id</a></li>
              <li>Predatory Journals/Publishers/Hijacker: <a href="https://beallslist.net">https://beallslist.net</a></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- End of Upload -->