<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubah Password</title>
    {% include 'snippets/style.html' %}
</head>
<body>
    {% include 'snippets/navbar.html' %}
    <section id="portfolio" class="portfolio">
        <br>
        <div class="section-title" data-aos="zoom-in">
            <h2 class="text-white">Ubah Password</h2>
        </div>
        <div class="container d-flex justify-content-center" data-aos="zoom-in">
            <div class="card">
                <article class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="container"><small><li>Kata sandi Anda tidak boleh terlalu mirip dengan informasi pribadi Anda yang lain.</li><li>Kata sandi Anda harus terdiri dari setidaknya 8 karakter.</li><li>Sandi Anda tidak boleh menjadi sandi yang biasa digunakan.</li><li>Sandi Anda tidak boleh seluruhnya berupa angka.</li></ul></small></span></div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Ubah Password  </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div>
        </div>    
    </section>

    {% include 'snippets/script.html' %}
</body>
</html>