<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Selamat Datang!</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include 'snippets/style.html' %}
</head>

<body>
  {% include 'snippets/navbar.html' %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Aplikasi Penilaian Karya Ilmiah</h1>
          <h2>Departemen Fisika FMIPA Universitas Padjadjaran</h2>
          <div class="d-lg-flex">
            <!-- <a href="#about" class="btn-get-started scrollto">About Us</a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Tentang Aplikasi</h2>
        </div>

        <div class="row content">
          <div class="col-md-6 d-flex justify-content-center">
            <img style="width: 450px; height: 250px;" src="/assets/img/coba.png" alt="">
          </div>
          <div class="col-md-6 pt-4 pt-lg-0">
            <p class="d-flex justify-content-center">
              Aplikasi Penilaian Karya Ilmiah Departemen Fisika FMIPA Universitas Padjadjaran ini ini adalah aplikasi yang digunakan untuk mempermudah proses penilaian karya ilmiah dosen. 
              Dengan adanya aplikasi ini, diharapkan penilaian karya ilmiah dapat dilakukan secara objektif dan efisien.
            </p>
            <br>
            <a href="https://phys.unpad.ac.id/program-2/sarjana" target="_blank" class="btn-learn-more">Web Fisika</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" data-aos="fade-up">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Departemen Fisika</h3>
            <p>Universitas Padjadjaran</p>
            <p>Kampus Jatinangor</p>
            <p>Jln. Raya Bandung-Sumedang Km. 21</p>
            <p>Jatinangor, Kab. Sumedang 45363</p>
            <p>Jawa Barat</p> <br>
            <p><strong>Telepon:</strong> (022) 779 6014</p>
            <p><strong>Email:</strong> kadep@phys.unpad.ac.id</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Tautan Penting</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://siat.unpad.ac.id/index.php/login">SIAT Unpad</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://phys.unpad.ac.id/">Website Fisika Unpad</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://ika-fisika.or.id/">Website IKA Fisika Unpad</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'admin:index' %}">Admin Site</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Temukan Kami!</h3>
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.691078373772!2d107.77145831421167!3d-6.927480569731207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68c4ae73e42ed3%3A0x547bfec4d2c2ff32!2sDepartemen%20Fisika%20FMIPA%20Unpad!5e0!3m2!1sen!2sid!4v1616595306914!5m2!1sen!2sid" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bg">
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Departemen Fisika</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  {% include 'snippets/script.html' %}

</body>

</html>